[2021-08-06 22:03] pvaneck opened #3 "Establish release process"
We should determine how releases should be handled and document the process.

Some notes:

* Currently KFServing has a [RELEASE_PROCESS.md](https://github.com/kubeflow/kfserving/blob/master/release/RELEASE_PROCESS.md) document (though it is a bit dated) that outlines what needs to be done during a release. Essentially, several image tags are updated in the config yamls to be pinned to the specific

[2021-08-06 22:06] pvaneck opened #4 "Investigate storage differences in Predictor vs InferenceService"
Currently, the way a user defines a storage location of a model varies between the MM `Predictor` and KFS `InferenceService`.

With the InferenceService, a user specifies a `storageUri` (ex: `s3://kfserving-examples/tf-models/mnist`).
With the Predictor, a user can specify  a `storage` object, but the `path` would be it's own key/value. Example:
[code]
In some cases, the storage object can be omit

[2021-08-06 22:07] pvaneck opened #5 "ModelMesh performance benchmarks"
Would be good to analyze the performance and perhaps compare with the other current model serving methods available.

Some ideas:

- Maximum number of models able to deploy on a specific cluster. Density testing.
- Request latency under varying loads or model densities (using both gRPC and REST when supported)

Other ideas and tooling for benchmarking are welcome.

[2021-08-06 22:09] pvaneck opened #6 "Enable REST support"
Currently only gRPC inference requests are supported with ModelMesh. However, there is a need for REST support in order to smoothen the user experience of interacting with ModelMesh models.

Currently, the idea is to have a transcoder container/service that will transcode the REST v2 protocol JSON into the gRPC format ModelMesh expects (and vice versa). The transcoding mappings will have to be exp

[2021-08-09 22:26] tedhtchang commented on #5
We will use this [benchmark guide](https://github.com/kubeflow/kfserving/blob/master/docs/samples/multimodelserving/benchmark/BENCHMARK.md) as a reference

[2021-08-10 02:25] pvaneck opened #9 "Add functional tests as a check for PRs"
Currently, FVTs are able to run on a nightly basis using IBM Toolchains with support for that included in https://github.com/kserve/modelmesh-serving/pull/7. However, we want to use this set of tests as a gate for incoming PRs, so they will need to be run on a per-PR basis.

Toolchains on IBM Cloud appears to have limitations regarding exposing logs and status to external users, so alternative ave

[2021-08-11 22:51] pvaneck commented on #9
Turns out GitHub Actions can be a workable solution. If we reduce the cpu requests for the model-server containers and modelmesh containers, the 2 vCPUs in the Actions Ubuntu environment is enough to spin up Minikube, deploy ModelMesh-Serving, and run the FVTs (see #11). Still uncertain if flakiness will be a big issue with this, but I think for now, and for the sake of having functional tests run

[2021-08-11 23:01] tedhtchang commented on #5
I am thinking to use the test result in [benchmark guide](https://github.com/kubeflow/kfserving/blob/master/docs/samples/multimodelserving/benchmark/BENCHMARK.md) as the baseline for the ModelMesh performance test. To do that, I will need some information on how the test was done particularly the tools used to run the tests and the cluster specs. Based the guide there are 2 types of tests.
1. Dens

[2021-08-12 01:48] pvaneck opened #12 "Consolidate KFS Predictor and MM Predictor schema"
This is a parent issue for this overall effort. The goal here is to figure out how we can merge and evolve the two different specs moving forward.

Sub issues:

- https://github.com/kserve/modelmesh-serving/issues/4.

[2021-08-12 01:54] pvaneck commented on #12
To show the general structure of a KFS Predictor and what fields it exposes to the end user, I've compiled a list.

**PredictorSpec**
[code]

**ComponentExtensionSpec**
[code]

**PodSpec**
[code]

Where each predictor type (e.g Sklearn) has the following fields:
[code]

Where v1.Container is
[code]

[2021-08-12 01:56] pvaneck commented on #12
Comparatively, the MM Predictor Spec is fairly simple:

[code]

[2021-08-12 02:16] pvaneck opened #14 "Make GitHub Action workflows more selective"
GitHub Action workflows should be more selective on when they run. For example, if just the README or docs are updated, we shouldn't have to run unit tests, although maybe linting is still needed for those. [Path filters](https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#onpushpull_requestpaths) can be utilized for these scenarios.

[2021-08-19 06:28] xauthulei opened #16 "need to remove the 'modelmesh-serving' in k8s configure"
Is that right behavior that we need to rollback the kubectl config to its previous status:
Initial status
[code]
After install `modelmesh serving`, it is added `namespace: modelmesh-serving` to `current-context`:
[code]
However, after `deleting your ModelMesh Serving installation`:
[code]

[2021-08-20 02:31] xauthulei opened #18 "Message: inference.GRPCInferenceService/ModelInfer: INVALID_ARGUMENT: unexpected inference input 'predict' for model 'example-mnist-predictor__ksp-c3597b719f'"
Try to update the model type(using tensorflow instead of sklearn) and location following[ the example ](https://github.com/xauthulei/modelmesh-serving/blob/main/docs/predictors/README.md), will get this error:

[code]

[2021-08-20 07:51] tedhtchang commented on #18
@xauthulei Based on the example here https://github.com/kserve/modelmesh-serving/blob/beef10ae025d4cf12a98016e13a68c2381505c78/fvt/predictor_test.go#L416-L418

The request should be:
[code]

[2021-08-20 08:29] xauthulei commented on #18
@tedhtchang , Thanks, you are right , it should be `inputs` instead of `predict`.
[code]

Same time, we need to add this step to doc, right ?

[2021-08-20 17:43] tedhtchang commented on #18
@xauthulei Yes thanks. Please add this step. This will help.

[2021-08-21 00:35] chinhuang007 commented on #18
If we are adding instructions to run predict with the updated predictor, the inputs and outputs probably should be more realistic. There seems to have a mismatch in the sample input, shape is [1, 784] but content is [64]. I don't know how to interpret the outputs either, where shape is ["1", "1"] and rawOutputContents is "BwAAAAAAAAA="

[2021-08-21 00:54] pvaneck commented on #6
FYI, made a simple prototype: https://github.com/pvaneck/modelmesh-proxy.

This leverages the grpc-gateway project, which there may have been some reservations about, but it seems to work fine for handling rest inference requests.

[2021-08-23 05:46] njhill commented on #6
Thanks @pvaneck, this is great. Having looked at grpc-gateway again I realize that it probably could work if we have a custom marshaller. What you have so far though doesn't implement the KFSv2 REST API because it does not map directly to the protobuf one.

i.e. the example in your readme
[code]
is not a valid KFSv2 inference request json payload. It would instead be something like
[code]
See http

[2021-09-02 21:05] #14 closed

[2021-09-08 01:25] pvaneck commented on #6
@njhill Yea, thanks for pointing that out. My latest iteration does add some custom marshaling logic to enable conformity with the REST v2 spec.  Probably need to revisit the the data array type coercion logic, but just wanted to get it working for now.

As mentioned in a call last week, right now this transcoder is a separate go program in a container that has its own Deployment and a correspondi

[2021-09-08 21:18] njhill commented on #6
Thanks @pvaneck.

Ultimately, it would be good to generalize model-mesh to proxy http/h2 rather than just gRPC and to integrate any data plane transcoding logic into the same routing process. But in the meantime, my thinking was to include your container in the existing runtime deployment pods so that calls to the existing Service will hit them and each one forwards directly to its colocated model

[2021-09-09 08:20] pvaneck commented on #6
@njhill Thanks for the explanation. That makes sense. I will try this out with the unix domain socket approach.

[2021-09-16 02:09] pvaneck opened #28 "Reconcile KServe InferenceService CRD"
ModelMesh-Serving needs to be able to reconcile InferenceServices with the `serving.kserve.io/deploymentMode: ModelMesh` annotation. If this annotation does not exist, the resource will be ignored (the KServe controller will handle reconciliation).

Related: https://github.com/kserve/kserve/pull/54

For the first iteration, this will be similar to how a TrainedModel is reconciled in ModelMesh-Serv

[2021-09-16 02:35] pvaneck opened #29 "Documentation refresh"
Internally, the documentation has been expanded and overhauled. We should go through and sync the docs with this repository.

Related: https://github.com/kserve/website/issues/17

[2021-09-17 01:47] xauthulei commented on #16
Closed this issue because the fix have been merged, Thanks

[2021-09-17 01:47] #16 closed

[2021-09-17 01:52] pvaneck commented on #16
Thanks for the fix!

[2021-09-17 16:25] yuzisun commented on #28
/cc @Suresh-Nakkeran @sukumargaonkar @andyi2it

[2021-09-21 18:42] chinhuang007 opened #33 "Change ModelMesh Serving controller to work with multiple namespaces"
The current ModelMesh Serving is namespace scoped, meaning all of its components must exist within a single namespace and only one instance of ModelMesh Serving can be installed per namespace. The idea is to make ModelMesh Serving cluster scoped so that one set of controller components can serve multiple namespaces.

The limitation of having a controller and a set of Serving Runtimes in each names

[2021-09-21 19:10] chinhuang007 commented on #33
@yuzisun Please help review and suggest/identify a solution that would work naturally in the KServe community and Kube ecosystem. Thanks!

[2021-09-21 21:32] Tomcli commented on #4
Proposed new storage spec design doc: https://docs.google.com/document/d/1rYNh93XNMRp8YaR56m-_zK3bqpZhhGKgpVbLPPsi-Ow/edit#
Phase 1 implementation for modelmesh serving controller: https://github.com/kserve/modelmesh-serving/pull/32

[2021-09-29 17:09] pvaneck opened #37 "ModelMesh Release Tracker for KServe v0.7.0"
The plan is to cut the KServe 0.7 release mid next week. For this release, ModelMesh will be loosely integrated with KServe.

Action Items:

- [x] ModelMesh InferenceService CRD Support
  - [x] https://github.com/kserve/modelmesh-serving/pull/34
  - [x] Documentation on using InferenceService CR with ModelMesh
    - https://github.com/kserve/modelmesh-serving/pull/47
- [x] ModelMesh REST Proxy Sid

[2021-09-29 20:31] pvaneck commented on #37
@ScrapCodes Have you had a chance to revisit https://github.com/kserve/kserve-pending/pull/54 ? Looks like it needs to be reopened in `kserve/kserve`.

[2021-09-29 20:34] chinhuang007 commented on #37
I suggest we make modelmesh-serving release v0.7.0 to be in sync with KServe

[2021-09-29 22:02] pvaneck commented on #37
@yuzisun With the KServe website being introduced, what is the future of the KServe `docs` folder? Should MMS docs in this folder be updated there as well as on the website? And will the main KServe README still contain install instructions (like it does currently) or will we switch it to link to the install page on the website?

[2021-09-30 02:53] tedhtchang opened #38 "Failed to build develop docker image on a Mac"
**Describe the bug**
Fail to build develop image on Mac. Error message:
[code]

**To Reproduce**
run `make build.develop`

**Expected behavior**
Successful build message on  a Ubuntu looks like:
[code]

**Environment (please complete the following information):**

- MacBookPro 2015
- OSX 11.6
- Docker Engine v20.10.8

[2021-09-30 12:27] ScrapCodes commented on #37
Hi @pvaneck, I was trying a different approach for it. Similar to https://github.com/kserve/kserve-pending/pull/57 . Once it is ready, I will open it against kserve/kserve.

[2021-10-01 08:14] pvaneck commented on #37
Thanks, @ScrapCodes . Let me know if you are encountering any issues, or need any help. The aim is to get this in before the KServe release is cut Wednesday next week.

[2021-10-04 11:26] ScrapCodes commented on #37
Thanks @pvaneck , I have an open PR https://github.com/kserve/kserve/pull/1851.

[2021-10-11 05:11] pugangxa commented on #38
Seems I can build it successfully. Checked script it will install wget/tar/go firstly(go installed by wget), so from your message seems `#8 3.833 error: Not enough free space in /var/cache/yum/metadata: needed 159.1 MB, available 0 bytes` disk full and failed to install these utilities?

[2021-10-12 02:37] pvaneck commented on #3
Closed via https://github.com/kserve/modelmesh-serving/pull/40

[2021-10-12 02:37] #3 closed

[2021-10-12 18:23] pvaneck commented on #38
Right, I can build fine as well on my Mac.

This seems like an issue with your Docker resource settings. Try increasing the Disk image size as specified here: https://docs.docker.com/desktop/mac/space/

Will close this, but reopen if the issue persists.

[2021-10-12 18:23] #38 closed

[2021-10-12 23:00] pvaneck opened #51 "Remove TrainedModel CR reconciliation"
With the TrainedModel CRD being deprecated in favor of using the InferenceService CRD for both single model and multi model deployments, we can go ahead and remove support for TrainedModel reconciliation. Our current support is still using the old `serving.kubeflow.org/v1alpha1`  APIGroupVersion anyway.

[2021-10-15 01:55] pugangxa commented on #51
/assign
I can help on this issue.

[2021-10-15 06:29] pugangxa opened #53 "Error for golangci-lint when using go 1.17"
**Describe the bug**
- Error for golangci-lint when using go 1.17
- Lint error when upgrade golangci-lint version

**To Reproduce**
Steps to reproduce the behavior:

[code]

When using original v1.32.0 of golangci-lint
[code]

Investigated it should be due to golangci-lint  version does not match go version, so upgrade to `v1.42.1`
[code]

**Expected behavior**
No error

[2021-10-15 22:41] njhill commented on #53
We can separately look into upgrading to use go 1.17 too.

[2021-10-15 22:55] pvaneck opened #55 "Create developer document"
To help onboard new developers, we should have a document that goes over some of the development processes.

Should include:

- How to set up local environment
- How to build development image
- How to run unit tests and linting

Can also add things like running controller-gen to generate code and manifests.

[2021-10-17 13:15] pugangxa commented on #53
Thanks for the information. I used to just run target in the Makefile, and in this repo I even add the pre-commit as the git hook so everytime commit code it will run. I will try to use the dockerized build environment.

[2021-10-18 21:13] #51 closed, assigned to pugangxa

[2021-10-26 19:40] pvaneck opened #60 "Update default MLServer serving runtime image"
We are currently using mlserver 0.3.2, however the latest is 0.5.2. This should be updated.

[2021-10-27 00:16] pvaneck opened #62 "Increase default gRPC max message size for mlserver runtime"
The default of 4MiB is often too small for many use cases. This should be increased in the mlserver serving runtime config.
This was recently made configurable via https://github.com/SeldonIO/MLServer/pull/317. Should probably be 16Mib to match the modelmesh default.

[2021-10-27 00:44] pvaneck opened #63 "Add TorchServe as a built-in Serving Runtime"
[TorchServe](https://github.com/pytorch/serve) will soon support the KServe v2 inference protocol and can support additional types of PyTorch models that Triton does not currently support.

Create a serving runtime for TorchServe with a corresponding ModelMesh adapter:  https://github.com/kserve/modelmesh-runtime-adapter/issues/4

The v2 support is still WIP (see https://github.com/kserve/kserve/p

[2021-10-27 00:59] pvaneck opened #64 "TensorRT examples and tests"
The Triton Inference Server supports TensorRT models and our the Triton Serving Runtime [indicates this](https://github.com/kserve/modelmesh-serving/blob/main/config/runtimes/triton-2.x.yaml#L28).

We should include some documentation, examples, and tests to demonstrate this. It probably needs to be investigated if  TensorRT will work on Triton without a gpu.

[2021-10-27 01:03] pvaneck opened #65 "Spark MLlib support"
MLServer supports [Spark MLlib](https://spark.apache.org/mllib/). We should verify this, and add it as a supported framework to the MLServer Serving Runtime. This should be accompanied by functional tests for the framework as well as documentation.

[2021-10-27 18:10] #60 closed, assigned to nobody

[2021-10-27 20:05] crobby opened #66 "Installer from quick start guide yields an error"
While trying to run through the quick start guide, the install script runs into an error

Steps to reproduce the behavior:

1. `kubectl create namespace modelmesh-serving`
`./scripts/install.sh --namespace modelmesh-serving --quickstart`
2. Wait for installer to run
3. See the following error
[code]

**Expected behavior**

I expect the installer in the quick start guide to run without errors with

[2021-10-27 20:12] #66 closed, assigned to nobody

[2021-10-27 20:33] crobby opened #67 "gRPC example in the quick start guide is yields an error"
While running through the quick start guide, I get an error when trying to run the gRPC example under the "perform an inference test" section.

Running the command as written in the guide gives an error:
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Install via the quick start guide instructions
2. Try to do an inference with the sample given for gRPC
3. See the following error
[co

[2021-11-03 00:08] Aggiemaster opened #68 "ModelMesh Quickstart error starting sample predictor"
modelmesh-serving-mlserver containers fail startup and are in CrashLoopBackOff state.  Error message is:

[code]

**To Reproduce**
Steps to reproduce the behavior:

Followed quickstart guide here: https://github.com/kserve/modelmesh-serving/blob/main/docs/quickstart.md

Running on a mac 11.6

1. Created minikube cluster:  `minikube start --memory 8192 --cpus 4 -p kserve-mm`
2. create namespace: ku

[2021-11-03 17:36] chinhuang007 commented on #68
Could you try allocating more resources to minikube, such as cpus=6 and see if helps?

[2021-11-04 00:03] Aggiemaster commented on #68
Thanks for the hint.  I changed the minikube startup to:

`minikube start --memory 12288 --cpus 6 -p kserve-mm`

This seems to startup and work correctly.  Closing this issue.

[2021-11-04 00:03] #68 closed

[2021-11-06 01:05] #55 closed

[2021-11-29 23:37] omid-verneek opened #78 "Triton Python Backend"
**Is your feature request related to a problem? If so, please describe.**

**Describe your proposed solution**
I was wondering why Modelmesh doesn't support Triton Python backend? If there is no specific reason, can we add that to the roadmap?

**Describe alternatives you have considered**

**Additional context**

[2021-12-03 00:46] #37 closed

[2021-12-03 00:48] pvaneck commented on #53
golangci-lint was updated and the go version has been updated to Go 1.17

[2021-12-03 00:48] #53 closed

[2021-12-03 00:54] pvaneck opened #79 "Add GCS storage provider to pullman"
The ModelMesh Runtime Adapter has been refactored to leverage a go-library named `pullman` . Currently it supports http and s3 based on the storage providers listed [here](https://github.com/kserve/modelmesh-runtime-adapter/tree/main/pullman/storageproviders). Since many KServe users use Google Cloud Storage, let's aim to add pullman support for GCS.

For reference:

- GCS Go package: https://pkg.

[2021-12-03 00:55] pvaneck commented on #79
FYI @tjohnson31415 . I'll work on this, but let me know if there are any gotchas or things to be wary of. I'll model the implementation off of the s3 storage provider.

[2021-12-03 01:10] pvaneck opened #80 "Add ServingRuntime field to denote modelmesh compatibility"
With KServe now using ServingRuntimes, we need to make sure that the ModelMesh-Serving runtime selection logic only selects runtimes that are ModelMesh compatible. While currently, KServe leverages the existence of the field `GrpcMultiModelManagementEndpoint` to determine this, let's try to make this more explicit with a dedicated boolean field in the SR spec.

Something like `modelMeshCompatible`

[2021-12-03 01:14] pvaneck opened #81 "ClusterServingRuntime support"
KServe supports cluster-scoped ServingRuntimes called `ClusterServingRuntimes`. These act as the built-in or default serving runtimes accessible to any user/namespace in the cluster. Currently ModelMesh-Serving only considers the the namespace-scoped `ServingRunimes`. Let's think about how ModelMesh-Serving can handle these cluster-level resources.

[2021-12-03 19:13] tjohnson31415 commented on #79
It should be straightforward I think. Please raise any questions or suggestions you have as you are working through it.

One gotcha/note: I found out recently that my caching implementation doesn't work as intended. I used Golang's [`maphash.Hash`](https://pkg.go.dev/hash/maphash) to generate the cache keys, but it uses seeded RNG when it generates the hash. I didn't set the seed, so there is neve

[2021-12-07 03:24] #62 closed

[2021-12-16 00:43] pvaneck opened #90 "Sync ServingRuntime spec between MM and KServe"
Currently the CRDs for ServingRuntimes are generated in two places: the `kserve/kserve` repo and the `kserve/modelmesh-serving` repo. Although it'd be preferred to have a single source, for now, let's ensure that the specs are synchronized. This way a user won't run into issues when using ServingRuntimes in the different contexts.

List of changes;
- KServe has [readinessProbes](https://github.com

[2021-12-17 10:29] LuBingtan opened #93 "[Discussion] Is there any plan to remove the dependency on an extra etcd cluster?"
**Is your feature request related to a problem? If so, please describe.**

Hi~ I'm new here and interested in this project.

I found that the system depends on an etcd cluster outside of kubernetes.  I think it will bring extra cost to maintain the etcd.

So I was wondering is there any plan to remove the dependency on an extra etcd cluster ?

**Describe your proposed solution**

Maybe we can use

[2021-12-28 04:43] yuzisun opened #96 "Sync InferenceService CR to ModelMesh Serving controller"
**Describe the bug**

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Create InferenceService CR with modelmesh annotation
2. ModelMesh controller fails to reconcile with above error

**Expected behavior**

**Screenshots**

**Environment (please complete the following information):**

- OS: [e.g. iOS]
- Browser [e.g. chrome, safari]
- Version: latest modelmesh-controller from master

[2021-12-29 13:57] yuzisun opened #97 "Model fails to load when using InferenceService storageUri"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

1. Create the following example InferenceService CR
[code]
2. Model fails to load on model puller sidecar

[code]

**Expected behavior**

**Screenshots**

**Environment (please complete the following information):**

- OS: [e.g. iOS]
- Browser [e.g. chrome, safari]
- Version [e.g. 22]

**Additional context**

[2022-01-04 22:08] pvaneck commented on #96
/assign @pvaneck

[2022-01-05 01:03] pvaneck opened #99 "Import ServingRuntime and InferenceService types from KServe"
Types for these resources are currently defined in two places: the `kserve` repository and the `modelmesh-serving` repository. Let's investigate importing these types from KServe and using those within modelmesh-serving as a step towards unification.

[2022-01-05 08:14] Phelan164 commented on #97
@yuzisun I tried to deploy InferenceService and got error
![image](https://user-images.githubusercontent.com/2509508/148182504-300d9954-cd31-425e-8c96-a813ebe80afb.png)
Is this same issue?
btw, above log you get from modelmesh-controller

[2022-01-06 14:38] Phelan164 commented on #97
@yuzisun sorry for above, actually I did not change gpu resource for triton. After change triton using gpu, pods already created and have same issue with you.

[2022-01-08 22:21] yuzisun commented on #99
I have updated the KServe `go.mod` you should be able to import the types now.

[2022-01-10 04:18] Phelan164 opened #102 "Model orchestration"
## Overview

### Acceptance Criteria

### Questions

### Assumptions

### Reference

[2022-01-10 10:48] Phelan164 commented on #78
@omid-verneek do you have any updated for this feature status (add to roadmap or not)

[2022-01-11 00:12] #80 closed

[2022-01-11 00:24] #96 closed

[2022-01-11 08:37] Phelan164 opened #103 "Update Triton Runtime Server to support TensorRT 8"
Need to support TensorRT 8 model which run in Triton Inference Server 21.11-py3 (or above)

I tried to update Triton Inference Server image to nvcr.io/nvidia/tritonserver:21.09-py3 and got the below error.
It seem to have change in interface then could not connect to the server
![image](https://user-images.githubusercontent.com/2509508/148909045-33510e5f-e54f-48a4-a329-31d5a6ca1df8.png)

**Describ

[2022-01-11 11:15] andreapairon opened #104 "Get ModelMetadata using gRPC"
I have the `example-tensorflow-mnist` predictor deploy and the `triton-2.x` pods running to serve the tensorflow model.

![image](https://user-images.githubusercontent.com/16152588/148932567-a8d672cd-9b95-4a2f-a789-a51ec74a7cda.png)

![image](https://user-images.githubusercontent.com/16152588/148932642-746e830c-5411-4ebb-a785-107fa2550561.png)

I'm trying to get the model metadata using gRPC but I

[2022-01-12 00:39] pvaneck commented on #102
Hey @Phelan164, thanks for trying out ModelMesh!

The number of runtime deployments are determined by a `podsPerRuntime` configuration setting, and aren't currently scaled dynamically. More info about this setting and scaling can be found [here](https://github.com/kserve/modelmesh-serving/blob/main/docs/production-use/scaling.md).

For model placement, first ModelMesh finds a ServingRuntime that h

[2022-01-12 02:03] pvaneck commented on #104
Thanks for the report, @andreapairon. I don't believe that the ModelMetadata endpoint is currently exposed by ModelMesh because of the need for the model to be loaded in order for the endpoint to work (in some cases, a model might be completely unloaded from the model servers due to lack of request activity). This might be something we can revisit and investigate how we can make this endpoint acce

[2022-01-12 02:28] pvaneck commented on #103
Hmm, can't say we have much experience with using TensorRT currently. But certainly would like to make it work! What is the model file structure you are using? I _think_  the modelmesh-runtime-adapter currently expects a structure like: `s3://bucket/tensorrt/model.plan`. I am not really familiar with TensorRT, but depending on what Triton expects, the adapter may need some tweaking.

[2022-01-12 08:29] andreapairon commented on #104
@pvaneck thank you for the reply. So, the only endpoint exposed is ModelInfer, right?

[2022-01-12 15:49] andreapairon opened #105 "Run Tensorflow model on GPU"
I was trying to run the `example-tensorflow-mnist` on GPU.
To achieve this, I edited the `ServingRuntime`  object adding `nvidia.com/gpu: 1` to the `spec.containers.resources.limits` and  `spec.containers.resources.requests `sections of the `tritonserver` container and the needed `tolerations`.
Once done that, I noticed that the `example-tensorflow-mnist` predictor always failed to be loaded.

Thi

[2022-01-12 17:45] njhill commented on #104
@andreapairon that's correct currently, but I think we could add support for ModelMetadata pretty easily, so will likely plan to do that soon.

For the `example-tensorflow-mnist` model you may also find the [quickstart example](https://github.com/kserve/modelmesh-serving/blob/main/docs/quickstart.md#3-perform-an-inference-request) helpful.

[2022-01-12 22:47] njhill commented on #105
@andreapairon from what you described it sounds like Triton may not be running properly in the GPU case, and possibly restarted. Could you check whether the `triton` container in any of the pods restarted, and also look at the logs from that container for clues?

[2022-01-12 22:49] njhill commented on #97
@yuzisun @pvaneck do you think we can close this now that Paul addressed the bug in #101?

[2022-01-12 22:53] njhill commented on #78
@omid-verneek there is no specific reason :) it's just not been tested, but there should be negligible changes if any on the model-mesh side to support this. We'll try to take a look soon.

[2022-01-12 22:55] njhill commented on #103
If any code changes are needed to support this in the adapter, they should be very minor and will be equivalent to whatever is needed for https://github.com/kserve/modelmesh-serving/issues/78.

[2022-01-13 01:40] njhill commented on #93
Hi @LuBingtan, it's a good question. The reason is partly historical - the core part of modelmesh-serving (the model-mesh sidecar container) was actually developed independently of Kubernetes and can still be used without it. In fact it can also be used with zookeeper as an alternative to etcd. We added the controller more recently to help orchestrate clusters of model-mesh pods, and that's where

[2022-01-13 01:45] njhill commented on #93
Also, even if this was implemented it might not be ideal for large-scale production for the reasons outlined. And for dev/experimentation the [quickstart](https://github.com/kserve/modelmesh-serving/blob/main/docs/quickstart.md) script will run a non-HA single etcd pod for you. So the scenarios where it would be most useful might be limited anyhow.

[2022-01-13 07:06] pvaneck opened #106 "Add functional tests for InferenceServices"
The InferenceService CRD is the primary interface for KServe, so we want to ensure that model deployments on ModelMesh work as expected when users use InferenceService CRD.

I think for this, we just need some basic tests:

1. Deploy an Isvc with the `"serving.kserve.io/deploymentMode": "ModelMesh"` annotation, and ensure that it becomes ready, and you can perform inference.

Would like to test th

[2022-01-13 07:06] pvaneck commented on #106
/assign @ScrapCodes

[2022-01-13 09:45] andreapairon commented on #105
@njhill unfortunately, at the moment, I'm not able to assign any predictor to any runtime due to the following error from the `modelmesh-controller`:

`{"level":"info","ts":1642066059.726149,"logger":"controllers.ServingRuntime","msg":"No runtime found to support predictor","name":"example-mnist-predictor","source":"Predictor"}`

I tried to uninstall and reinstall ModelMesh a couple of times and t

[2022-01-13 17:18] omid-verneek commented on #78
@njhill We appreciate it.

[2022-01-13 19:46] pvaneck opened #107 "Add sample Keras model to minio images"
Since ModelMesh supports deploying Keras models as noted [here](https://github.com/kserve/modelmesh-serving/blob/main/docs/model-types/keras.md), we should ensure that our minio images have a sample Keras model that users can try.

Both the FVT and quickstart image should probably be updated:
kserve/modelmesh-minio-dev-examples
kserve/modelmesh-minio-examples

[2022-01-13 19:47] pvaneck commented on #107
/assign @tedhtchang

[2022-01-13 21:32] njhill commented on #105
@andreapairon changing the pod/container config for GPU should not have affected the logic to match predictors with runtimes. Really the next step in diagnosis is inspecting the triton runtime Deployment/Pods - even before checking the logs just verifying that the pod and containers are running and in ready state, and not restarting unexpectedly. And even if you can't provide the raw logs, maybe y

[2022-01-17 16:18] andreapairon commented on #105
Log update:

the `triton` logs (before the restart) seems really ok:

![image](https://user-images.githubusercontent.com/16152588/149804665-7ff221ba-b114-4ee3-99f2-ea9f40394f40.png)

the `triton-adapter` downloads the needed object (.**pbtxt** and .**pt** files) but then crashes due to an error:
`"error": "rpc error: code = Unavailable desc = connection error: desc = \"transport: Error while diali

[2022-01-18 03:52] njhill commented on #105
@andreapairon I'm still not completely sure what's going on but my guess based on all the evidence above is that this is the significant part:

My guess is that when you got Triton to start loading the pod, it was actually the CPU configured version of it, and the loading failed because the pods were torn down due to the GPU reconfiguration. The errors shown above shouldn't have caused the adapter

[2022-01-19 00:24] tedhtchang commented on #107
@pvaneck Image updated in my docker hub
Updated some doc here: #109

[2022-01-19 20:32] pvaneck commented on #107
Docker images updated in KServe repository and #109 merged.

[2022-01-19 20:32] #107 closed

[2022-01-22 19:41] Nagarajj commented on #102
@pvaneck we have an use case where we have a stateful model (continuos learning based on feedback), for that case is it possible to restrict a  model to a single pod. Is there a config to control that ?

We are not concerned about load on single model as these are individual user personal models.

Thanks for the great project, this is definitely useful initiative.

[2022-01-24 16:46] andreapairon opened #111 "Triton on-wire compression of request/response on HTTP"
Is it possible to leverage Triton features like the on-wire compression of request/response on HTTP? (https://github.com/triton-inference-server/server/blob/main/docs/inference_protocols.md#compression)

If not, will be implemented on future ModelMesh releases?

[2022-01-27 01:42] tedhtchang opened #113 "install.sh script failed with "usage: sleep seconds""
**Describe the bug**
The install.sh failed with this message on OSX 12.x but not in OSX 11.x. It seems that `sleep "10s"` syntax no long works after the latest OSX update.
[code]

**To Reproduce**
Following the Quick Start guide to run a `./scripts/install.sh --namespace modelmesh-serving --quickstart` command.

**Expected behavior**
`Installing ModelMesh Serving built-in runtimes`

**Environment

[2022-01-27 01:52] pvaneck commented on #113
It's probably fine to just use `sleep 10` since the default unit of time is seconds for most implementations of the sleep util I believe.

[2022-01-27 02:39] #113 closed

[2022-01-27 20:20] tedhtchang opened #115 "The sed command in some scripts fail to run on Mac OSX 12.1"
**Describe the bug**
The BSD sed on OSX fail with this command `sed: 1: "minio-storage-secret.yaml": invalid command code m`
These file has the sed -i
./script/delete.sh
./script/install.sh
./script/deploy/iks

**To Reproduce**
[code]

- OS: OSX 12.1

[2022-01-27 20:21] tedhtchang commented on #115
/assign @chinhuang007

[2022-01-27 20:30] tedhtchang opened #116 "The install.sh script failed when used with -u"
**Describe the bug**

`./scripts/install.sh: line 280: ctrl_ns: unbound variable`

**To Reproduce**
[code]
**Expected behavior**
[code]

- OS: OSX 12.1

[2022-01-27 20:30] tedhtchang commented on #116
/assign @chinhuang007

[2022-01-28 19:32] tedhtchang commented on #116
/lgtm

[2022-01-28 19:42] #115 closed

[2022-01-28 19:42] #116 closed

[2022-01-31 19:29] #79 closed

[2022-02-11 23:22] chinhuang007 opened #127 "Add support for KServe transformer"
The current ModelMesh Serving supports InferenceService with a predictor only. The SKerve transformer concept, providing pre and post processing for predict, should be provided in the case of ModelMesh as well.

The user would be able to apply the same transformer in both the single-model serving in KServer and multi-model serving in ModelMesh.

[2022-02-18 01:07] pvaneck commented on #127
After some additional testing, seems that there are issues with the way we have two controllers updating the status of the same resource, so I wonder if we'd encounter the same issue even if KServe and ModelMesh did share the same status types.

After KServe provisions the transformer, when trying to update the InferenceService status, the following error is repeatedly given:

[code]
Similarly, th

[2022-02-18 18:17] njhill commented on #127
@pvaneck I have a feeling this is happening because the two controllers keep clobbering each other's status fields in a loop and/or possibly the APIServer is pruning unknown fields (I guess less likely given your. I don't think this would be a problem if they did share the same Status definition since this would mean each others changes were preserved while round-tripping.

Another way to make thi

[2022-02-18 23:11] chinhuang007 commented on #127
@pvaneck Looks like the following are missing or not updated properly in the InferenceService status:
Address: (missing)
  URL: http://sklearn-driver-transformer.modelmesh-serving.svc.cluster.local/v2/models/sklearn-driver-transformer/infer
Components:
  Predictor: (entire section missing)
Conditions:
  Type: IngressReady (not updated)
  Type: PredictorConfigurationReady (missing)
  Type: Predicto

[2022-03-04 21:28] #106 closed

[2022-03-07 11:39] LuBingtan commented on #93
Thanks. Got it. Agree with you, it would be a nontrivial amount of work.

[2022-03-15 21:16] chinhuang007 commented on #127
The design doc available [here ](https://docs.google.com/document/d/18KfONdaaLIaYw1FLj0xxQ-o35mVi5LsjjWjS_2PnZxs/edit?usp=sharing) Please review and feel free to comment.

[2022-03-17 21:58] pvaneck opened #136 "Add ModelMetadata endpoint support"
Users may want to find the input tensor name and/or shape of a particular model. The v2 predict protocol outlines a [ModelMetadata API](https://github.com/kserve/kserve/blob/master/docs/predict-api/v2/required_api.md#model-metadata-1). We should have ModelMesh support this as I believe Triton and MLServer already expose this endpoint.

Related issue and discussion: https://github.com/kserve/modelm

[2022-03-21 21:41] njhill commented on #136
I think all that should be needed is the addition of that rpc to those advertised by the adapter logic for Triton and MLServer [here](https://github.com/kserve/modelmesh-runtime-adapter/blob/main/model-mesh-triton-adapter/server/server.go#L296) and [here](https://github.com/kserve/modelmesh-runtime-adapter/blob/main/model-mesh-mlserver-adapter/server/server.go#L560), as well as to the id extractio

[2022-05-05 13:46] future-xy opened #156 "Examples do not work"
**Many examples do not work**

Hi,

Thanks for providing modelmesh-serving! I'm trying to use examples provided in ./config/example-predictors/ but I found only *example-sklearn-mnist-svm* can be accessed. Other examples, such as *example-onnx-mnist, example-tensorflow-mnist, example-keras-mnist* can't be used. Specifically, clients (both grpc and REST) return "predict() method not implemented" er

[2022-05-12 17:49] njhill commented on #156
@future-xy it looks like the model was loaded in the wrong runtime (MLServer). By deafult, tensorflow and onnx models will run in Triton. This could be related to an older bug that should be fixed in the most recent 0.8 release. Could you confirm which version you're using?

Could you also share details of what pods are running, and the state/status of the predictor in question (`kubectl describe

[2022-05-12 19:28] njhill opened #159 "Standardize KServe multi-model management SPI and add built-in support"
For dynamic loading/unloading of models, Triton defines a "[Model Repository](https://github.com/triton-inference-server/server/blob/main/docs/protocol/extension_model_repository.md)" API which is described as an extension to the [KServe v2 dataplane API](https://github.com/kserve/kserve/blob/master/docs/predict-api/v2/required_api.md).

This includes both REST and gRPC variants of the following A

[2022-06-01 19:18] saeid93 opened #161 "Support of model pipeline"
Does kserve modelmesh support pipelining models in consecutive steps in the form of inference graph? Some thing like similar technologies like [Seldon Inference graph](https://docs.seldon.io/projects/seldon-core/en/latest/graph/inference-graph.html), [Ray Deployment Graph](https://docs.ray.io/en/latest/serve/deployment-graph.html)?

[2022-06-01 20:01] njhill commented on #159
Looks like MLServer has now standardize on the Triton package/service names: https://github.com/SeldonIO/MLServer/pull/616  :tada:

[2022-06-02 22:23] IntelliJJ824 opened #376 "InferenceService Deployment with ModelMesh Example: fail to send requests from Istio Ingress"
/kind bug

**What steps did you take and what happened:**
I follow the InferenceService Deployment with ModelMesh: example-sklearn-isvc from [here](https://github.com/kserve/modelmesh-serving/blob/main/docs/inferenceservice.md)

Here is what I have already get, and it has been tested successfully by using the port-forward method as the example instruction.

_**However, I am considering to achieve

[2022-06-03 22:14] pvaneck commented on #161
KServe is on the cusp of supporting it once this InferenceGraph PR merges: https://github.com/kserve/kserve/pull/1910
Then with that in place, some time might be needed to ensure/validate that it works with ModelMesh deployed InferenceServices.

So, soon this will be supported with ModelMesh as it is quite an important feature!

[2022-06-05 11:49] saeid93 commented on #161
Awesome! looking forward to trying it out soon, is there an estimate on the official release date?

[2022-06-06 06:42] pvaneck commented on #99
Closed via #140 and https://github.com/kserve/modelmesh-serving/pull/146

[2022-06-06 06:42] #99 closed

[2022-06-06 09:06] nrnc opened #162 "Quick start not working for Mac M1 laptops"
**Is your feature request related to a problem? If so, please describe.**

When trying the quick start guide, model mesh controller pod and model mesh serving pod are in pending state due to node affinity rules, it has only amd64

**Describe your proposed solution**
Adding the arm64 option in the nodeSelector values will be suffice i guess

**Describe alternatives you have considered**
I tried to

[2022-06-08 08:51] #90 closed

[2022-06-10 11:46] #161 closed

[2022-06-13 09:27] future-xy commented on #156
Thanks for your reply! The problem has disappeared after I reinstalled the 0.8 release.

[2022-06-13 09:27] #156 closed

[2022-06-13 16:11] IntelliJJ824 opened #165 "Add sample inference requests for sample models"
**Describe the bug**
I have seen an example-models.md file indicating that there are mnist in different model types (such as Onnx mnist.onnx, Keras mnist.h5). It can be found it: `https://github.com/kserve/modelmesh-serving/blob/main/docs/example-models.md`.

However, I am wondering if there are any instructions about how to sent the inference requests to these models, since there have occurred th

[2022-06-13 20:04] #136 closed

[2022-06-17 18:56] pvaneck commented on #162
Hey, thanks for trying on the M1 Macs. Right, the `arm64` entry will need to be added to the [controller config](https://github.com/kserve/modelmesh-serving/blob/main/config/manager/manager.yaml#L38). However, I'm thinking you'll also be hindered by the lack of `arm64` images being built.

I do have a branch https://github.com/pvaneck/modelmesh-serving/tree/multiarch that has this change along wit

[2022-06-21 11:34] saeid93 opened #169 "How to make inter-server connection is missing from the documentation"
I couldn't find any guide on how to build the inter-server connection links in the inference server. Could someone please either add this or point me to link if it is already present in the doc
![0 2 0-highlevel](https://user-images.githubusercontent.com/6298780/174789912-5f25eace-46f0-4ada-aee9-ee93192dd618.png)
?

[2022-06-21 23:28] pvaneck commented on #165
Hey @IntelliJJ824. I agree, we should have documentation for the format for sending inference requests for these example models. Most of the example models have sample inference requests in the end to end tests ([keras example](https://github.com/kserve/modelmesh-serving/blob/main/fvt/inference.go#L244)). I can surface these out into the docs.

Another thing that was recently added was support for

[2022-06-23 22:42] pvaneck opened #173 "ProtocolVersion required when deploying Isvc with old format"
This works:

[code]

while:

[code]

this does not.

In the second case, `getRuntimesSupportingPredictor()` isn't returning anything unless something like `protocolVersion: grpc-v2` is explicitly specified.

The old format should still be able to find a runtime like in the first case even if no protocolVersion is specified by the user.

[2022-06-27 21:34] #4 closed

[2022-06-27 21:36] pvaneck commented on #12
Isvc can now facilitate all Predictor Spec needs and can be closed with the inclusion of the Model Spec, Storage Spec, and updated status fields.

[2022-06-27 21:36] #12 closed

[2022-06-27 21:37] pvaneck commented on #5
A lot of work has been done on the performance side. There is now a nightly performance test being run. Related scripts/config/docs can be found here: https://github.com/kserve/modelmesh-performance

[2022-06-27 21:37] #5 closed

[2022-06-28 10:40] njhill commented on #169
@saeid93 the inference servers themselves do not talk to each other, all of the inter-pod communication is "internal" and between the model-mesh containers. For mostly historical reasons, a thrift-based RPC library called "litelinks" is used for this. It was developed previously within IBM (mostly predates gRPC), and later open-sourced [here](https://github.com/IBM/litelinks-core). I hope that ans

[2022-06-29 09:22] saeid93 commented on #169
@njhill Thank you for your answer, could you then please give me some information regarding how I can make the internal model-mesh container connections? Basically, I want to cascade some models output, intputs together, something like: model1 -> model2 -> model3

[2022-06-30 17:50] #173 closed

[2022-07-01 07:54] portkey2112 opened #180 "kserve python SDK for modelmesh serving predictor API v1alpha1"
## Overview

I want to create predictor CRD for modelmesh serving using Python SDK. The APIs for predictor is v1alpha1. But it is not available in kserve Python SDK. In https://kserve.github.io/website/sdk_docs/sdk_doc/, v1beta1 functions are available. Using v1beta1, we can create inference service and not predictor alone. Is this correct? And to create isvc, I need to install kserve along with m

[2022-07-06 02:48] yuzisun opened #182 "Resource requirement for ModelMesh sidecar and model puller"
Currently the default modelmesh sidecar container by default requires [3 CPUs](https://github.com/kserve/modelmesh-serving/blob/main/config/default/config-defaults.yaml#L25) and model puller requires [2 CPUs](https://github.com/kserve/modelmesh-serving/blob/main/config/default/config-defaults.yaml#L49), just wondering if there is any rationales with these numbers as this does add a big overhead to

[2022-07-06 02:48] yuzisun commented on #182
/cc @pvaneck @njhill

[2022-07-06 02:53] pvaneck commented on #180
The KServe SDK should work for deploying InferenceServices on ModelMesh Serving. I'm in the the process of updating the docs to have the `InferenceService` CRD be the primary interface for interacting with ModelMesh instead of the `Predictor` CRD.

Some docs for ISVC: https://github.com/kserve/modelmesh-serving/blob/main/docs/inferenceservice.md but this still needs to be updated to use the new pr

[2022-07-06 07:43] portkey2112 commented on #180
Thanks @pvaneck. The kserve SDK has worked for modelmesh serving as well. I was concerned about the additional installation of kserve. But now, will go ahead with inference service CRD alone. Thank you for the immediate response! This helped.

[2022-07-06 07:43] #180 closed

[2022-07-08 13:53] OvervCW opened #183 "ModelMesh crash loops after running install script following quick start guide"
**Describe the bug**

The ModelMesh pod crash loops after installing it using the `install.sh` script, see the steps to reproduce.

**To Reproduce**
Steps to reproduce the behavior:

1. Follow the instructions in https://github.com/kserve/modelmesh-serving/blob/main/docs/quickstart.md
2. After running `./scripts/install.sh --namespace modelmesh-serving --quickstart`, observe that the `modelmesh-co

[2022-07-08 13:58] OvervCW commented on #183
Nevermind, I fixed the problem by removing the modelmesh-controller in a different namespace (`kserve`) that had been installed by the `kserve` Helm chart. Apparently they were conflicting with each other somehow.

[2022-07-08 13:58] #183 closed

[2022-07-11 16:22] OvervCW opened #185 "Can the MLServer runtime be replaced by Triton?"
ModelMesh currently uses the MLServer runtime to serve sklearn, xgboost, and lightgbm models. However, it [seems like](https://developer.nvidia.com/blog/real-time-serving-for-xgboost-scikit-learn-randomforest-lightgbm-and-more/) recent versions of Triton now support all of those model types as well.

Does that mean that ModelMesh could support all types of models using a single runtime? And if so,

[2022-07-11 17:02] #165 closed

[2022-07-13 00:04] chinhuang007 opened #186 "The etcd connection is incorrect for user namespaces when etcd is configured outside of controller namespace"
**Describe the bug**

If etcd is configured outside of the controller namespace, the generated secret for user namespaces will have an incorrect etcd endpoint.

**To Reproduce**
1. Configure etcd in a separate namespace
2. Deploy modelmesh including a controller namespace, using the etcd created in step 1
3. Enable modelmesh in a user namespace
4. Create a ServingRuntime, which won't work due to t

[2022-07-13 18:20] XiangFrank commented on #186
Hi, we found another issue regarding Etcd secret copy. When copying the Etcd secret, seems it would only copy contents in etcd_connection field rather than the whole secret. Is there any reason behind it? Because we're using client_key_file to pass the key in another field, and it was skipped during the copying process.

[2022-07-13 22:23] chinhuang007 commented on #186
Thanks for the suggestion. It is what I was thinking as well. Feel free to check out and comment on the work-in-progress patch, https://github.com/kserve/modelmesh-serving/pull/188

[2022-07-14 00:22] pvaneck commented on #186
@XiangFrank The `etcd_connection` key in the secret supports other fields like `client_key_file` as shown [here](https://github.com/kserve/modelmesh-serving/blob/main/pkg/mmesh/etcdrangewatcher.go#L32). Is your `client_key_file` being set as a separate key of the secret?

[2022-07-14 08:48] aldwnesx opened #189 "deploy an SKLearn MNIST model"
Following the docs, I get the following error

[code]

[2022-07-15 08:19] #189 closed

[2022-07-19 06:16] aldwnesx opened #192 "Custom runtime error"
I am trying to port over a custom run time.

I created the ServingRunTime and Predictor following the example on https://github.com/kserve/modelmesh-serving/blob/main/docs/runtimes/custom_runtimes.md

I am getting the following errors

[code]
[code]

[2022-07-20 13:54] OvervCW opened #193 "Does ModelMesh support TLS?"
Is it possible to enable secure connections between ModelMesh components and from clients to ModelMesh?

[2022-07-20 13:57] OvervCW opened #194 "Is there a separate Helm chart for ModelMesh?"
It seems like ModelMesh can be deployed in combination with KServe from the [KServe Helm chart](https://github.com/kserve/kserve/tree/master/charts/kserve), but is there also a way to deploy only ModelMesh?

We're interested in this because we plan to only use ModelMesh's functionality and not KServe.

[2022-07-21 16:38] OvervCW commented on #194
@njhill I don't want to use the install script because it doesn't support release management. All of the other applications we deploy in our cluster do have Helm charts available, which allow us to easily manage them with Terraform.

I've decided to implement my own Helm chart based on the resources that are deployed by the script.

[2022-07-21 16:40] OvervCW commented on #193
Ah, I must have missed that. Thanks for the link.

[2022-07-21 16:40] #193 closed

[2022-07-21 16:41] njhill commented on #194
@OvervCW great, is that something which you could contribute back to the project?

[2022-07-21 16:49] njhill commented on #169
@saeid93 sorry for the delayed response. For composing models you could take a look at the [Inference Graph](https://github.com/kserve/kserve/tree/master/docs/samples/graph) functionality recently added to KServe. I'm not sure whether this has been tested with ModelMesh-based InferenceService endpoints yet but it should work in theory.

Alternatively, if you've implemented a custom model server wi

[2022-07-21 17:15] njhill commented on #182
@yuzisun those numbers are the `limits` values, which in general are worth setting quite high for CPU so that spare cycles can be used if available on the node. The actual allocation/requirement is indicated by the `requests` values which are much lower.

When setting resource quotas I'd recommend having the `limits` quota be many times higher than the `requests` quota (latter should reflect the a

[2022-07-21 17:21] njhill commented on #192
@aldwnesx you'll need to check the logs of your model server container and possibly the `mm` container. Most likely your container is not coming up properly or not reporting `READY` from its `runtimeStatus` API - the modelmesh container polls/waits for this before it declares itself ready to Kubernetes.

Hopefully the problem should be evident from that but if not feel free to paste some of the lo

[2022-07-22 08:39] OvervCW commented on #194
@njhill Possibly, yes. It'll depend on our final implementation.

[2022-07-22 10:38] njhill commented on #185
@OvervCW there shouldn't be anything stopping you using these other kinds of models with Triton, would be great if you could try it out!

Hopefully all that should be needed is to:
- Update the `triton-2.x` `ServingRuntime` spec to include additional `supportedModelFormats` as needed
- Reference the appropriate type in your Predictor and either specify the runtime name explicitly or delete/remove

[2022-07-22 13:21] saeid93 commented on #169
@njhill thanks for the answer! I didn't know the inference graph feature is now out, will check it out. I'm using the Triton server and my pipelines have some external logic which I implement in separate Python scripts I should see if I can implement it using the inference graph.

[2022-07-22 13:22] #169 closed

[2022-07-22 13:23] yuzisun commented on #169
We are going to announce soon, the [tutorial](https://kserve.github.io/website/master/modelserving/inference_graph/image_pipeline/) is available, let us know if that fits your need!

[2022-07-22 13:44] yuzisun commented on #182
Our namespace quota limits are set according to each tenant's budget, if we set many times higher they will need to budget a lot more.

[2022-07-22 15:24] njhill commented on #182
@yuzisun so how do you set quota CPU `limits` values set in relation to the `request` values? Having a high limit doesn't guarantee/reserve that resource, everyone's CPU limit could even be set to `unlimited`. It's useful for containers to be able to temporarily "burst" beyond their allocation when there are spare cycles on the node (especially true for the puller which is idle most of the time bu

[2022-07-24 15:10] skel84 opened #199 "HuggingFace Hub models"
Hi,
I am interested in running NLP inferences with HuggingFace Hub models, is this possible currently?
MLserver supports these types of models but I haven't figured out how to run them using modelmesh-serving yet, maybe you can point me in the right direction?

[2022-07-28 17:15] IntelliJJ824 opened #200 "Fail to run TensorFlow/Keras MNIST example models in GPU resources"
**Describe the bug**

1. GPU serving runtime has been configured by: ~/modelmesh-serving/config/runtimes/triton-2.x.yaml
I have add `nvidia.com/gpu: 1` in both limits and requests fields under the Resources in Yaml file.

2. Reinstall the entire ModelMesh by: `./scripts/install.sh --namespace modelmesh-serving --quickstart`

3. Result: Two Triton pods are successfully assigned Two GPUs, but fail t

[2022-07-28 19:53] suryaiyer opened #201 "Single Predictor Pod with GPU and others on CPU"
I want to create a pod  which serves a single model with  1 GPU. Since I have an old gpu card which cannot be split across pods, I want to allocate  it to a single predictor. Is that possible?

**Is your feature request related to a problem? If so, please describe.**
Unable to have a single predictor with GPU

When I inject gpu in the resources in the runtime, I get multiple pods starting expectin

[2022-07-29 15:16] saeid93 commented on #169
Thanks for sending the documentation @yuzisun part. This is one specific use case that I'm not sure whether it is possible currently or not.
This is one particular use case that might already be supported but I couldn't do it following docs.
I have a set of interconnected nodes in which each of them has a number of models and I want each request to pass through a different set of models for exampl

[2022-07-29 23:38] njhill commented on #200
@IntelliJJ824 from the original error it looks likely due to the Triton container restarting, potentially due to OOM. Can see from your `get pods` screenshot that there was a container restart, maybe you could verify that this is the Triton container, and check its logs for clues (use `--previous=true` to see the pre-restart log output).

What you observed with the model later loading is most like

[2022-08-02 10:19] IntelliJJ824 commented on #200
Hi, yes, when assigning more CPU memory in the Yaml file, it works. This ticket can be safely closed.

[2022-08-02 10:19] #200 closed

[2022-08-05 09:19] OvervCW opened #204 "Add the ability to read the etcd certificates/key from a different secret or actual file"
We would like to use cert-manager to generate server and client certificates for etcd. It generates secrets that look like this:

[code]

ModelMesh in turn requires the etcd parameters to be configured through a secret that looks like this:

[code]

I expected to be able to mount the cert-manager secret in the ModelMesh controller pod (e.g. at `/etc/private/tls/etcd`) and then use these fields in

[2022-08-05 10:38] adrwong-lora opened #205 "Manager config mounted wrongly"
**To Reproduce**

1. install modelmesh in microk8s from scratch without --quickstart
2. use `kubectl exec` to get in the manager pod
3. cd /etc/model-serving
4. the config-defaults.yaml here is a directory, which contains a real config-defaults.yaml
5. the mount setting can be found in https://github.com/kserve/modelmesh-serving/blob/main/config/manager/manager.yaml

**Expected behavior**

the con

[2022-08-05 18:17] XiangFrank opened #206 "Support external access to ModelMesh service"
Hi community, we are considering to expose the modelmesh-serving service to our users. To expose the modelmesh service outside of the Kube cluster, we need to create an ingress resource. Since modelmesh-serving service is managed by modelmesh-controller, wondering is it feasible to allow modelmesh-controller to support this feature through a configuration?

[2022-08-08 08:55] Agarwal-Saurabh opened #209 "unable to download models from s3 storage in triton runtime"
the model files are not getting downloaded from s3 storage. it is working fine in case of ML server runtime but in triton runtime it shows it downloaded but the file is not present in the local of triton runtime. This seems to be the bug

[code]

[2022-08-09 05:53] swapkh91 opened #207 "Connect models deployed on different kubernetes clusters"
I wanted to know if I can use Modelmesh to connect models deployed on separate GKE clusters. This is a usecase where we need to have a GKE cluster in a separate region. Couldn't find anything related to this in docs.

Thanks.

[2022-08-09 21:56] ckadner commented on #205
Interesting. I plan to take a look at this in the next couple of days.

[2022-08-09 23:46] njhill commented on #205
@adrwong-lora while not very tidy, I don't think this is actually a bug since I'm pretty sure the controller process is looking for the file where it's currently mounted. There would be no harm in simplifying though to remove the intermediate `config-defaults.yaml` directory.

Did you actually run into any problems functionally or this was just something you noticed that looked odd?

[2022-08-10 03:10] adrwong-lora commented on #205
It works fine, just a bit confused when I tried to look for the config-defaults.yaml it's actually reading in the pods.

[2022-08-10 07:11] Agarwal-Saurabh commented on #209
I am using model mesh release-0.9 @njhill with triton runtime of modelmesh-serving-triton-2.x-SR

[2022-08-11 14:11] crobby opened #210 "etcd fails to start on version 0.9.0 on OpenShift"
The etcd deployment/pod fails to start on OpenShift

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Attempt to install v0.9.0 on OpenShift

**Expected behavior**
All pods come up without errr

**Environment (please complete the following information):**

Client Version: 4.11.0-202207191902.p0.g7075089.assembly.stream-7075089
Kustomize Version: v4.5.4
Server Version: 4.11.0-rc.6
Kube

[2022-08-11 17:17] pvaneck commented on #210
Another change was https://github.com/kserve/modelmesh-serving/pull/151 where the quickstart etcd version was updated to `v3.5.4` from the `latest` tag which actually corresponds to quite an old version (~`v3.3.8`) . If you swap to an older version or even just the `latest` tag again, does the deployment come up properly? I am wondering if some change with the newer version of the etcd image cause

[2022-08-11 18:33] crobby commented on #210
I do see the same problem when using the latest tag of the etcd image.  It looks like the non-deployment (naked pod) version in 0.8.0 was running as root, but running as part of a deployment, it runs as non-root.  When I look in the container, it seem to be trying to create the data directory in / which will always fail for non-root.

[2022-08-11 23:29] njhill commented on #210
@crobby you could try adding `workingDir: $HOME` to the [container spec](https://github.com/kserve/modelmesh-serving/blob/main/config/dependencies/quickstart.yaml#L44). Alternatively you could add a `--data-dir $HOME/etcd` cmd line flag.

[2022-08-11 23:53] crobby commented on #210
That doesn't seem to do the trick.
At runtime, it is running as the (randomized) user:  1000670000

Here is the entry from /etc/passwd for that user inside the container
`1000670000:x:1000670000:0:1000670000 user:/:/sbin/nologin`

Looks like / is the $HOME, which doesn't seem to have much of a chance of being writable by anything other than root.

[2022-08-12 00:05] njhill commented on #210
OK how about adding
[code]
to the `command` args? The standalone container is only intended for dev/temporary use anyhow.

[2022-08-13 12:36] crobby commented on #210
I will give that a try on Monday, thanks.
What sort of setup would you recommend for production use?

[2022-08-15 13:57] crobby commented on #210
using /tmp/<whatever>  does appear to work.  Thanks.

[2022-08-15 15:39] njhill commented on #210
@crobby a small multi-member etcd cluster with TLS configured. I'm not sure whether there's an OpenShift operator for this apart from the one managing the Kube-backing etcd. There is a public operator https://github.com/improbable-eng/etcd-cluster-operator but that does not appear to be actively maintained. I think there are also example helm charts out the which could be used.

Note that the syst

[2022-08-16 02:23] njhill commented on #209
@Agarwal-Saurabh try renaming the `.pb` file to `saved_model.pb`.

[2022-08-16 11:26] #209 closed

[2022-08-16 16:13] njhill commented on #209
@Agarwal-Saurabh could you confirm that solved your problem?

[2022-08-16 16:22] Agarwal-Saurabh commented on #209
Yes, this resolves the issue.

On Tue, 16 Aug 2022, 9:43 pm Nick Hill, ***@***.***> wrote:

[2022-08-17 19:46] gaodan-fang opened #211 "Error: Set cross-namespace owner are disallowed"
**Describe the bug**
The modelmesh controller is trying to set owner reference for resources outside of the current namespace.
[code]

**To Reproduce**
Steps to reproduce the behavior:

Deploy the default model mesh controller and you will see the error in the model mesh controller pod

**Expected behavior**

Should only looking for current name space resources.

**Screenshots**

**Environment (pl

[2022-08-19 03:29] njhill commented on #211
@gaodan-fang hopefully this should be addressed by https://github.com/kserve/modelmesh-serving/pull/212.

[2022-08-19 13:38] gaodan-fang commented on #211
@njhill thanks for addressing the issue!

[2022-08-19 18:58] bherta opened #213 "Add status information to the ServingRuntime CRD instances"
**Problem description:**
Today each instance of a `ServingRuntime` CRD contains a spec, but no status.  If I want to see the current status of an active `ServingRuntime`, such as to see if the number of pods matches the value I specified in the `replicas:` field, I need to look at the corresponding `Deployment`.  This isn't difficult to do manually, but in an environment monitored by [ArgoCD healt

[2022-08-22 10:31] lizzzcai opened #214 "Support imagePullSecrets in ServingRuntime"
**Is your feature request related to a problem? If so, please describe.**

Most of our use cases are using `custom` servingRuntime which are built by the users. In this case, the servingRuntime image mostly will be stored in the user's private image registry.
However, the current ServingRuntime CRD doesn't have the `imagePullSecrets`, so we are not able to provide it to the user.

**Describe your

[2022-08-23 20:18] Xaenalt opened #215 "Quickstart pods crash loop when using 0.9"
In attempting to run the quickstart on my local OpenShift, I noticed both the etcd and minio pods crash loop on start. Logs attached

**To Reproduce**
Steps to reproduce the behavior:

1. Clone modelmesh-serving
2. Run scripts/install.sh --namespace modelmesh-serving --quickstart
3. Observe pods

**Expected behavior**

Quickstart pods come up

**Screenshots**
[etcd-crash.log](https://github.com/ks

[2022-08-24 13:28] Agarwal-Saurabh opened #216 "onnx model not able to load"
Facing issue while loading the onnx based model in triton runtime.

Modelmesh version -0.9
triton-runtime - 2.x
kserve - 0.9

`ERROR	Triton Adapter.Triton Adapter Server.Load Model	Triton failed to load model	{"model_id": "example-onnx-predictor__ksp-c73d49c26f", "error": "rpc error: code = InvalidArgument desc = load failed for model 'example-onnx-predictor__ksp-c73d49c26f': version 1: Internal:

[2022-08-24 21:51] njhill commented on #213
Hi @bherta thanks a lot for the issue writeup. I think we'd intentionally left out status from the `ServingRuntime` CRD, since each SR is intended to be more of a template than logically associated with specific instantiations of the runtime in question.

It happens that with ModelMesh Serving, each SR currently corresponds to a single deployment, but this isn't the case with KServe "classic" wher

[2022-08-25 21:11] njhill commented on #216
@Agarwal-Saurabh what does the model storage layout look like. Have you tried to load the model in a standalone Triton container?

[2022-08-25 21:15] njhill commented on #215
@Xaenalt for etcd it looks like the same issue as discussed in https://github.com/kserve/modelmesh-serving/issues/210, and from the log the minio issue looks similar. PRs to address these would be welcome!

[2022-08-25 22:51] njhill commented on #214
@lizzzcai you can provide `imagePullSecrets` via the service account used for the deployment pods, which can be set via the `serviceAccountName` configuration parameter (see [here](https://github.com/kserve/modelmesh-serving/tree/main/docs/configuration#configuration)). Is that sufficient or you need to be able to set different secrets per serving runtime?

[2022-08-26 04:59] kaydxh opened #218 "modelmesh-sering-mlserve failed to connect etcd"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

I installed it  by command ./scripts/install.sh --namespace modelmesh-serving --quickstart, it started ok, but modelmesh-serving-mlserve failed to start.

kubectl apply -f - <<EOF
apiVersion: serving.kserve.io/v1beta1
kind: InferenceService
metadata:
  name: example-sklearn-isvc
  annotations:
    serving.kserve.io/deployment

[2022-08-26 07:06] Agarwal-Saurabh commented on #216
I didn't got , what do you mean by standalone tiriton.

[code]

This is what I am using as a part of deployment.

model storage is under s3
onnx - > model.onnx.     @njhill

[2022-08-27 12:57] kaydxh opened #219 "Load of model example-sklearn-isvc__isvc-3642375d03 timed out"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

I followed the doc for quick start https://github.com/kserve/modelmesh-serving/blob/main/docs/quickstart.md, Eventually, use kubectl describe isvc example-sklearn-isvc, we know the message: java.util.concurrent.TimeoutException: Load of model example-sklearn-isvc__isvc-3642375d03 timed out after 90sec, how to fix it?
**Expect

[2022-08-27 12:57] kaydxh commented on #218
Yea, I fix it now

[2022-08-27 12:58] #218 closed

[2022-08-30 06:37] melowYX opened #221 "Failed to load Model due to Triton runtime error ？"
When I tried to load an ONNX model

{"message":"INTERNAL: Failed to load Model due to Triton runtime error: rpc error: code = Internal desc = failed to load 'example-generator-predictor__ksp-503f133797', no version is available","modelId":"example-generator-predictor__ksp-503f133797","reason":"ModelLoadFailed"}

Why is that?

[2022-08-31 03:01] lizzzcai commented on #213
Hi @njhill , we also have the requirement for the status in the ServingRuntime. In our use case, we will have a lot of custom servingRuntime, and the user can get/create/patch/delete it, as our user mostly using custom frameworks with their own logic.

Currently, once a ServingRuntime is created, it creates a deployment but scales to zero. Users don't know whether their servingRuntime is working f

[2022-08-31 08:14] lizzzcai commented on #214
Hi @njhill , I tested this method but found that it is a system-wide configuration on the `modelmesh-serving` namespace. Hoever in our case, we are using user-namespace and each namespace will have multiple imagePullSecrets per namespace. So either this `model-serving-config` can be applied and overwrite in user namespace or enable the full `PodSpec` in servingruntime will be helpful.  The current

[2022-08-31 09:12] oha95 opened #222 "Custom runtime with MLServer"
I tried to follow the [documentation](https://github.com/kserve/modelmesh-serving/blob/main/docs/runtimes/mlserver_custom.md) to create a custom runtime server

but I think there is an error in the Dockerfile.
Is this the last instruction :
[code]
in that case the image never finish the build. It is not rather:
[code]

[2022-08-31 18:43] njhill commented on #216
@Agarwal-Saurabh I mean that it looks like something to do with your onnx model file and not model-mesh per se. Are you able to load that same model.onnx file successfully in for example a separate isolated [onnx runtime](https://github.com/microsoft/onnxruntime)?

[2022-08-31 18:45] Agarwal-Saurabh commented on #216
Yes, I am able to load in seperate environment and also able to create a
custom kserve service but in modelmesh its not working

On Thu, 1 Sept 2022, 12:13 am Nick Hill, ***@***.***> wrote:

[2022-08-31 18:47] njhill commented on #219
@kaydxh you should check the logs from the `mlserver` container of the pod for clues (and possibly `mlserver-adapter` container too). Is the model very large? If so, you might need to increase the model loading timeout from 90 seconds - this can be done by modifying [this field](https://github.com/kserve/modelmesh-serving/blob/main/config/runtimes/mlserver-0.x.yaml#L75) of the mlserver ServingRunt

[2022-08-31 18:49] njhill commented on #221
@melowYX please provide your predictor spec and also what your storage file layout looks like.

[2022-08-31 18:49] njhill commented on #222
Thanks @oha95 it does look like this is a doc bug. Would you like to open a PR to fix it?

[2022-08-31 23:44] ckadner opened #223 "The `delete.sh` script does not remove the `modelmesh-serving` serviceer scope mode, because the controller deployment can't own resources in other namespaces. While the service could still be owned by the controller deployment in the controller namespace, the existing use of ServiceReconciler.NamespaceOwned, https://github.com/kserve/modelmesh-serving/blob/25e67047111588d2605f281e82d32a77322ff979/controllers/service_controller.go#L130, is not sufficient to determine which the owner should be."
**Description:**

From @njhill:
That's interesting that the Service wasn't cleaned up. It's created by the controller and should be "owned" by the controller's Deployment so I'm surprised that it wasn't deleted automatically when the controller deployment was deleted. Maybe you could inspect it's metadata to see what's going on with the owner reference?

From @chinhuang007:
The service currently b

[2022-09-01 04:28] lizzzcai opened #224 "Support passing labels and annotations in ServingRuntime to runtime Pod"
**Is your feature request related to a problem? If so, please describe.**

We have a custom webhook to `validate` and `mutate` the actual pod created by the ServingRuntime based on the labels/annotations, for example, mutate resources limit and validate user info added in the annotations.

However, currently the ServingRuntime will not pass its own labels/annotations to the deployment/pod and ther

[2022-09-01 05:16] melowYX commented on #221
s3://modelmesh-example-models/
└── demo/config.pbtxt
└── demo/1/model.onnx
└── demo/1/GPT2.onnx.data

kubectl delete -f - <<EOF
apiVersion: serving.kserve.io/v1alpha1
kind: Predictor
metadata:
  name: example-demo-predictor
spec:
  modelType:
    name: onnx
  path: demo/
  storage:
    s3:
      secretKey: localMinIO
EOF

[2022-09-05 12:14] Agarwal-Saurabh opened #225 "horizontal Pod autoscaler available for the serving runtime"
I was looking on serving runtime but there is only option for replica and there is no horizontal Pod autoscaler available for the serving runtime.

is there a way to setup HPA for pods with serving runtimes instead setting replicas hardcoded @njhill

[2022-09-05 13:04] Agarwal-Saurabh commented on #216
by custom kserve service, I mean without model-mesh. Just Kserve CRD

[2022-09-06 06:18] Thijsvandepoll opened #226 "How to load model from .tar.gz/.tgz?"
Hi all, I am new to KServe and Modelmesh Serving and try to get to know the software. I am trying to combine Kubeflow with Modelmesh Serving by using the following pipeline in Kubeflow:
  1. Preprocess data
  2. Train model
  3. Deploy model on Modelmesh

With Kubeflow the output of each of the steps is a .tgz file having the model data that Modelmesh requires. The problem is that serving the mode

[2022-09-07 22:56] njhill commented on #81
Summary of design discussion with @chinhuang007:
- A `ServingRuntime` in a given namespace will "hide" a `ClusterServingRuntime` with the same name for any inference services in that namespace
- Deployments derived from `ClsuterServingRuntime`s won't have an owner set, otherwise the `ServingRuntime` will be set as the owner as it is now
- When installing in cluster scope mode (default), the built-

[2022-09-07 23:25] njhill opened #228 "Allow config of id extraction for custom gRPC service methods"
Applies to custom runtimes which use gRPC service interfaces other than the standard KFSv2 one. Currently the `mm-vmodel-id` header must still be used for these.

Add a section in the config yaml which contains a map of fully qualified gRPC service method names to a map/object containing a field called `idExtractionPath` whose value is a list of ints (in future other per-method fields might be sup

[2022-09-07 23:28] njhill opened #229 "PVC-based model caching/sharing managed by puller"
We should consider an option where the pod-scoped `emptyDir` volume is actually a PVC mount, shared between all the pods and managed like an intermediate cache. Useful for cases where a Kube PV may be more local than some remote storage that the model comes from. In particular for autoscaling reactivity where the same model will be loaded in multiple pods.

[2022-09-07 23:32] njhill opened #230 "PVC storage support"
Support for serving models from PVCs is an important capability, we need to have a robust approach. It differs from our other cloud storage abstractions since it must be configured at the pod level, which means PVCs can't be configured dynamically in the multi-model case without restarting pods.

Thoughts:
1. The controller will need to be aware of Predictors tied to pvc storage. We need to think

[2022-09-08 00:32] chinhuang007 commented on #81
I have shared the discussions, design, and implement [here](https://docs.google.com/document/d/1lSqwqmiOeS7rJTtxfSdvxuTK_GzaOwTV5BXfnw2IEJs/edit?usp=sharing). It is a bit more elaborated than what @njhill summarized above. Feel free to make comments!

[2022-09-08 15:18] MLHafizur opened #231 "0/1 nodes are available: 1 node(s) didn't match Pod's node affinity/selector"
I am setting up on MiniKube as well as KIND cluster. In both cases modelmesh-controller is Pending status:

[code]

kubectl describe showing : 0/1 nodes are available: 1 node(s) didn't match Pod's node affinity/selector

Do you have any thought?

[2022-09-12 18:05] njhill commented on #231
@MLHafizur just remove the `nodeAffinity` section in the controller's deployment spec: https://github.com/kserve/modelmesh-serving/blob/main/config/manager/manager.yaml#L31-L38.

I'm actually not sure why this is currently set to `amd64` only, we should consider removing it from the config.

[2022-09-12 18:52] njhill commented on #226
Hi @Thijsvandepoll, this is actually something we had intended to add support for, there is a related in-progress PR [here](https://github.com/kserve/modelmesh-runtime-adapter/pull/24).

In general the plan is to unify the storage handling between modelmesh-serving and single-model kserve. Have a common library and configuration shared by both.

[2022-09-12 19:05] njhill commented on #225
@Agarwal-Saurabh there isn't currently a way to do this. Basic HPA might not be the best fit because it assumes homogeneous deployments, whereas with modelmesh there can be an intentional imbalance in resource usage depending on how models are distributed amongst the pods and their volume of usage.

But it would be good look into this further and provide suitable way to integrate with HPA and/or i

[2022-09-12 19:21] njhill commented on #211
Closing since this should be fixed per above, @gaodan-fang please feel free to reopen if it's still a problem.

[2022-09-12 19:21] #211 closed

[2022-09-12 19:25] njhill commented on #219
@kaydxh any update? Can this be closed now?

[2022-09-12 19:36] njhill commented on #192
@aldwnesx any update here? can this issue now be closed?

[2022-09-12 20:28] MLHafizur opened #239 "Serving a PyTorch model"
I am trying to deploy a PyTorch model on Minikube. My manifest is like:

[code]

Which is not working. `kubectl get isvc` give output like:
[code]

Have you ever tried to deploy PyTorch Model?
Can you deploy it without TorchScript?

@njhill Looking forward to your help.

[2022-09-13 00:16] kaydxh commented on #219
Yes, now it works ok. Thank you!

[2022-09-13 00:51] MLHafizur opened #240 "onnx model format not giving Inference Uri on ModelMesh"
I deployed a PyTorch model exported in ONNX format.  The manifest is like:
[code]

The deployment is giving the output like:
[code]

I checked the correspoding pod descriptions:

[code]

[code]

[2022-09-13 09:58] Thijsvandepoll commented on #226
Ah that's great @njhill! I will be watching the PR then. Any idea on when this will be available?

[2022-09-13 16:47] njhill commented on #226
@Thijsvandepoll there isn't any ETA that I'm aware of at the moment, any help would be welcome though!

[2022-09-13 16:48] #219 closed

[2022-09-13 19:04] Thijsvandepoll commented on #226
Yeah I would be happy to help! I need to get to know the project a bit better though as I am new to it. I will spend some time on it.

[2022-09-14 03:41] melowYX opened #242 "Question: How to specify a ServingRuntime"
The ONNX  model was supoorted via ServingRuntime ovms and triton. So when we use kubectl to deploy a onnx model how to specify a ServingRuntime in a .yaml file

[2022-09-14 03:42] #221 closed

[2022-09-14 03:50] melowYX commented on #239
Maybe you can use the following command to check the status
`kubectl get predictor predictor_name  -o=jsonpath='{.status.lastFailureInfo}'`

or view the logs in the pod `modelmesh-controller`

more state info in this link
https://github.com/kserve/modelmesh-serving/blob/main/docs/predictors/inferenceservice-cr.md#predictor-status

[2022-09-14 06:36] #242 closed

[2022-09-14 18:27] njhill commented on #239
@MLHafizur similar to what @melowYX said, you should check the status of the inferenceservice (e.g. `kubectl describe inferenceservice example-pytorch-isvc`). Also check that there are runtime deployment pods running and that they're healthy.

Next would be to check the logs of the controller and/or various containers in the deployment pods.

[2022-09-14 18:38] njhill commented on #239
Also @MLHafizur it looks like your `storageUri` requires a scheme prefix.

[2022-09-14 18:43] MLHafizur commented on #239
hi @melowYX  and @njhill thanks for your support. I trying hard to get into ModelMesh and put some of our models into production. We are training our model with PyTorch and saving it as a .pt file. Is there any way to serve .pt models without TorchScript format?

[2022-09-14 18:51] MLHafizur commented on #240
@njhill I managed to run the Triton Runtimes. But now getting errors in GCS and Azure Storage access permission, Although I create a service account with proper permission:

[code]

Any help will be appreciated.

[2022-09-14 18:54] njhill commented on #242
@melowYX you probably found this but you can either:
- Reference the runtime explicitly by name in the Predictor/InferenceService (`runtime` field)
- Set the `autoSelect` field in the `supportedModelFormat` lists of the ServingRuntime specs to true for the one(s) that you want to use for a particular model type (onnx in this case)

[2022-09-14 18:55] MLHafizur commented on #240
@njhill  Do I have to crease secretKey e.g: localMinIO as per the GCS secrets as my model is in a GCS bucket?

[2022-09-14 20:25] rafvasq opened #243 "Kustomize versions between latest release and main quick start guides"
An inconsistency in the main branch's Quick Start Guide seems a bit confusing:

[The guide](https://github.com/kserve/modelmesh-serving/blob/main/docs/quickstart.md) notes that kustomize v3.2.0+ is supported, but the first step asks the user to checkout the latest release (0.9) which doesn't include #233 and only supports kustomize v4.0.0+, although that's correctly communicated on [the release br

[2022-09-14 20:46] ckadner commented on #243
Thank you Rafel. This is a bit of a conundrum. Users hitting the Quickstart guide will naturally land on the `latest` documentation that show **kustomize v3.2+** yet the 0.9 release they are asked to clone does not have the corresponding script changes to support kustomize 3.2.

I supposed we want to revert the doc change so the Quickstart shows required kustomzie v4.0+ again and create an issue o

[2022-09-15 21:25] #243 closed

[2022-09-15 21:46] njhill commented on #240
@MLHafizur yes exactly, you need to add a key to the `storage-config` with json containing the connection details for your GCS bucket as described in the [docs here](https://github.com/kserve/modelmesh-serving/blob/main/docs/predictors/setup-storage.md). You can either reference this key name explicitly in your predictor, or name it `default_gcs` (it doesn't look like that last past is documented,

[2022-09-15 22:24] njhill commented on #204
Hi @OvervCW, this is a very reasonable requirement and one I've also heard from others. Implementation is complicated by the fact that the same etcd secret is not only mounted to the controller but also to the runtime pods, and is consumed directly by the etcd client used in the modelmesh container. The `_file` attributes work because when the secret is mounted each key ends up as a separate file

[2022-09-17 15:15] #240 closed

[2022-09-17 15:42] MLHafizur opened #247 "ONNX model :: Failed to load Model due to adapter error: Error calling stat on model file"
Trying to deploy a PyTorch model in ONNX format on Azure AKS cluster namespace. Steps I followed:

1. Edited the existing storage-config file:  `kubectl edit secret storage-config -n modelmesh-serving-dev`, removed all S3 related information and replaces with azure blob storage info's:
[code]

2.  Applied the following inferenceservice manifest:
[code]

3. Triton runtimes seems up and running. But

[2022-09-19 16:54] MLHafizur commented on #247
Hello @njhill any help?

[2022-09-20 02:58] lizzzcai opened #248 "Support Etcd per Namespace for ModelMesh"
**Is your feature request related to a problem? If so, please describe.**

 In our use case, we manage the tenancy per namespace, so I am trying to set up `etcd` per namespace so that if the `etcd` instance is having an issue, it will not affect other users/namespace (limit the blast radius) and ensure the data security.

However, when I tried to provide a `model-serving-etcd` in user namespace, i

[2022-09-20 03:20] lizzzcai opened #249 "Re-sync Models in ModelMesh"
**Is your feature request related to a problem? If so, please describe.**

I have faced an issue that the predictor is showing loaded status but when I am trying to access the model, I got `{"code":5,"message":"vmodel not found"}`, maybe it is due to the ectd instability as I don't delay it in HA. I redeploy the predictor and the issue is solved.
However, is it possible to have an auto-resync of t

[2022-09-20 20:17] njhill commented on #248
@lizzzcai though it is now the default, cluster scope operation should be considered relatively alpha and still needs a bit more work. In particular w.r.t. how the secrets are handled as you've observed.

Security-wise it would be nice (and relatively straightforward) to have the controller namespace secret be the only one with "root" credentials and to automatically add a user id per namespace so

[2022-09-20 20:48] njhill commented on #249
@lizzzcai so presumably the etcd pod restarted in this case?

One way you could probably avoid this problem is change your etcd pod spec to mount a PVC and have etcd put it's data dir in there (using `--data-dir` cmd line arg).

Otherwise, restarting the controller and all of the runtime pods should cause things to re-sync right away..

I think it shouldn't be too hard to make it recover better au

[2022-09-21 16:53] njhill commented on #239
@MLHafizur currently the only runtime integrated with model-mesh that supports PyTorch is Triton, which is only for TorchScript format models.

However, I'm very close to finishing [integration](https://github.com/kserve/modelmesh-serving/issues/63) with [torchserve](https://github.com/pytorch/serve), which can also serve eager mode pt models (you just need to put inside a .mar file first). This s

[2022-09-23 15:57] njhill commented on #81
Required changes to the controller have now been completed in #241. Remaining tasks:
- [ ] Update config/install scripts to install CSR CRD and built-in runtimes as CSRs for cluster-scope mode
- [ ] Ensure FVT coverage of both SRs and CSRs

[2022-09-23 18:41] bherta commented on #213
@njhill Sorry for the delay in coming back to this.  The basic issue we have right now is that in the metadata section of the deployment object created by the controller for a serving runtime, the [ownerReferences field](https://kubernetes.io/docs/concepts/overview/working-with-objects/owners-dependents/#owner-references-in-object-specifications) points to the ServingRuntime instance for that mode

[2022-09-23 22:16] njhill commented on #230
There are some parts of this that we can start on before finalizing the overall design:
- Add puller logic for `pvc` type storage which just:
   - Verifies that a `/pvc_mounts/<pvc-name>` dir exists and also that `/pvc_mounts/<pvc-name>/<model-path>` exists (dir or file), where `<pvc-name>` is the value of the `claimName` storage parameter in the load request
   - Rewrites the model path in the re

[2022-09-26 16:59] njhill commented on #224
@lizzzcai this sounds very reasonable and would be pretty trivial to implement. We should definitely follow the second proposal though, specifically to add `annotations` and `labels` fields to the [`ServingRuntimePodSpec`](https://github.com/kserve/kserve/blob/master/pkg/apis/serving/v1alpha1/servingruntime_types.go#L48).

This would apply similarly to single-model runtimes so would also require a

[2022-09-26 17:38] njhill commented on #213
Thanks @bherta, I agree with all of the above. I think I'm good with adding status to ServingRuntimes, and you make a great point that ClusterServingRuntimes don't need to share the same status type.

We may want to think a bit about how to structure it / what fields to include. For example it would probably make sense to include running a replica count. We could consider including predictor count

[2022-09-27 19:17] MLHafizur opened #251 "Waiting for supporting runtime Pod to become available"
Trying to deploy custom MLServer runtime. The Runtime Manifest:

[code]

I can see the serving runtimes:
[code]
I tried to serve a model using the custom runtime:

[code]
But it is not working, failed to get the serving endpoint:

`muc-en-aa-predictor                                                             False                                                                 3h26m`

The descri

[2022-09-27 22:25] njhill commented on #230
Some design decisions following further discussion:
- The controller will watch the storage config secret in each namespace and keep the pvcs mounted to runtime deployments based on any `pvc` type entries
- Predictors can always reference one of these PVCs for storage
- For predictors that reference a PVC name that doesn't have an entry in the storage config secret, behaviour will depend upon a ne

[2022-09-28 11:16] #251 closed

[2022-09-28 16:59] lizzzcai commented on #248
Hi @njhill, thanks for your reply.

I see, the controller keeps watching the etcd by [design](https://github.com/kserve/modelmesh-serving/tree/main/docs/architecture#architecture-overview). BTW are there any design docs or flow chart to provide more details about the how the e2e flow is working in modelmesh? (similar like [this](https://github.com/knative/serving/blob/main/docs/scaling/SYSTEM.md#d

[2022-09-29 23:21] MLHafizur opened #253 "{'code': 2, 'message': "inference.GRPCInferenceService/ModelInfer: UNKNOWN: Unexpected <class 'TypeError'>: expected str, bytes or os.PathLike object, not InferenceRequest"}"
I have deployed a custom model using MLServer on ModelMesh Serving engine, It is giving a serving endpoint. Using that api I am trying to create inference :
[code]
Unfortunately getting the following error:
[code]

[2022-09-30 00:09] lizzzcai commented on #224
Hi @njhill , I have created one [PR](https://github.com/kserve/kserve/pull/2440) in kserve controller, feel free to review it when you have time.

[2022-09-30 19:54] njhill commented on #253
@MLHafizur could you share the logs from the `mlserver` container?

[2022-09-30 20:23] njhill commented on #253
Also this line doesn't look right above, the first parameter of the `post` function should just be the URL:
[code]

[2022-09-30 21:27] njhill commented on #248
Yes, this is read-only however, just used to trigger a predictor reconciliation when things change. Otherwise, the etcd data is internal to / owned by the modelmesh containers.

I don't think there's anything published externally currently, but I will see what I can find and add to external docs.

No, namespace scope is everything confined to a single namespace controller + controlled. In cluster

[2022-09-30 23:36] chinhuang007 opened #254 "Upgrade Tritonserver to 22.07+"
In order to support the KServe Alibi explainer which requires batch size=100, I would like to
1. upgrade tritonserver to version 22.07 or newer
2. add argument "--backend-config=default-max-batch-size=100" or bigger (the default is 1, which seems to indicate batch is not enabled)

[2022-10-02 15:14] lizzzcai commented on #214
Hi @njhill , I have created a [PR](https://github.com/kserve/kserve/pull/2443) for this. I think it makes sense to add it as it is very common to use images from private repositories, and it is similar to [volumes](https://github.com/kserve/kserve/pull/2147). What do you think?

[2022-10-03 19:17] MLHafizur opened #255 ""code":3,"message":"json: cannot unmarshal string into Go value of type main.RESTRequest""
Getting `{"code":3,"message":"json: cannot unmarshal string into Go value of type main.RESTRequest"}` which sending an inference request. Codes:

[code]

I never experienced the error. What's the wrong?

[2022-10-03 20:54] njhill commented on #255
@MLHafizur could you share the output of `print(payload.json())`

[2022-10-03 21:09] MLHafizur commented on #255
@njhill here is input sample:

`{"id": null, "parameters": null, "inputs": [{"name": "TF_Idf_score", "shape": [1], "datatype": "FP64", "parameters": null, "data": [10.5184540149]}, {"name": "bm25", "shape": [1], "datatype": "FP64", "parameters": null, "data": [1.5876147942]}, {"name": "deduplication", "shape": [1], "datatype": "BYTES", "parameters": null, "data": [["No Duplicates"]]}, {"name": "de

[2022-10-04 01:25] MLHafizur commented on #255
@njhill any help please?

[2022-10-04 12:26] MLHafizur commented on #255
Hey @njhill The issue is gone, if we use `json=payloads.dict()` instead of` json=payloads.json()` in  `requests.post()`.
But getting another error and concern: if we use `json=payloads.dict()` it is going through the runtime codes.

[code]

[code]

The error is:
[code]
I checked the custom runtime mlserver container logs, it seems like _extract_inputs() function is returning an empty dataframe.
I

[2022-10-04 18:29] MLHafizur commented on #255
@njhill Looking forward to hear from you.

[2022-10-04 19:30] MLHafizur commented on #255
The error is coming  from, I think
[code]
I am not getting any other clues unfortunately. But seems like it is not going through the` predict() ` function of the custom run. It supposed to  print many logs.

 Something else in between the client code and the model runtime seems to be raising the error.

[2022-10-05 08:04] smolendawid commented on #231
I have the same problem. Installation logs keep repeating

```Pods found with selector '-l control-plane=modelmesh-controller' are not ready yet. Waiting 10 secs...```

After running `k describe pod _pod_name_`

[code]

After commenting the marked lines:

[code]

[2022-10-05 15:22] MLHafizur commented on #255
Today again getting `{"code":3,"message":"json: cannot unmarshal string into Go struct field RESTRequest.inputs of type uint8"}` error with same payload and codes.

[2022-10-05 17:39] njhill commented on #231
@smolendawid this looks like an unrelated issue - doesn't look like your Kube workers can access dockerhub to pull the images.

[2022-10-05 19:07] njhill commented on #255
@MLHafizur this error is coming from the REST proxy which transcodes from the KServe V2 REST protocol to equivalent gRPC requests for routing through modelmesh.

Unfortunately, `BYTES` type tensors where the data is string-encoded aren't currently supported, see https://github.com/kserve/rest-proxy/issues/8. Hopefully we can add support for that soon.

[2022-10-05 19:11] MLHafizur commented on #255
Hey @njhill Thanks for your response. What are the other ways I can follow?

[2022-10-06 06:53] smolendawid commented on #231
Indeed... Can it be related to M1 Mac? Maybe it is looking for a platform specific built or something? I can't see anything but on Ubuntu I didn't have any problems.

[2022-10-06 12:19] MLHafizur commented on #255
Hey @njhill , unfortunately nothing is working with my text data:` sentences = list(df['full_text'].values)` I have tried all of the ways proposed in MLServer Codec to encode my text data (list of sentences) .  I am frustrated now, Can you please tell me how may I make it work?

[2022-10-06 18:10] njhill commented on #255
@MLHafizur you could send it as a gRPC request instead, not sure if the MLServer Codecs include any support for that. If not you could convert the payload manually to protobuf.

[2022-10-06 18:14] MLHafizur commented on #255
@njhill we are planning not to user gRPC, Our preference is REST.

[2022-10-10 14:13] MLHafizur opened #259 "{"code":3,"message":"json: cannot unmarshal string into Go struct field RESTRequest.inputs of type predictv2.InferParameter"}"
Trying to make prediction with string data load:

[code]
getting error:
`{"code":3,"message":"json: cannot unmarshal string into Go struct field RESTRequest.inputs of type predictv2.InferParameter"}`

**`payload.dict() :::`**
[code]
What is the issue here? How to overcome this?

[2022-10-10 17:30] njhill commented on #259
@MLHafizur parameter handling is another current gap in the implementation, see https://github.com/kserve/rest-proxy/issues/13.  This should be straightforward to fix, I will aim to do it soon if no one else does. However even with that fix I'm not sure your request will work due to the current lack of support for string-encoded `BYTES` type tensors (as discussed in your other issue https://github

[2022-10-10 18:05] MLHafizur commented on #259
@njhill can you please tell me the alternative supported solution for string data?

[2022-10-11 00:43] njhill commented on #259
@MLHafizur I'm not sure there's a way to do it currently using via REST, the workaround would be to use gRPC directly. I'll aim to add the string support soon.

[2022-10-11 12:01] #253 closed

[2022-10-11 19:45] #259 closed

[2022-10-13 17:59] chinhuang007 commented on #230
Just to clarify, the pvc entries in the storage config secret would look like:
`stringData:
    pvc1: |
    {
      “type”: “pvc”
      "name": "pvc1",
    }
    pvc2: |
    {
      “type”: “pvc”
      "name": "pvc2",
     }
`
The entry type will be checked and the name used to create volumes and volume mounts for runtime deployments, while the keys are irrelevant.
The predictor storage in an Infe

[2022-10-14 11:58] #255 closed

[2022-10-14 12:01] MLHafizur opened #261 "Unexpected <class 'AssertionError'>: text input must of type `str` (single example), `List[str]` (batch or single pretokenized example) or `List[List[str]]`"
I deployed custom MLServer runtime in  KServer ModelMesh inference service. Using grpc I am sending base64 payload to the inference service:
`./grpcurl -plaintext -proto mlserver/dataplane/dataplane.proto -d '{ "model_name": "muc-en-aa-predictor-grpc", "inputs": [{ "name": "full_text", "shape": [2], "datatype": "BYTES", "contents": { "bytes_contents": ["a2VsbHkgaiBiYXJsb3cgaW50ZXJsb2NrcyBsaXR0bGVz

[2022-10-20 09:54] melowYX opened #262 "Failed to SetVModel ?"
What mean about this message in controller logs?

`{"level":"error","ts":1666258908.6470432,"logger":"controller.predictor","msg":"Reconciler error","reconciler group":"serving.kserve.io","reconciler kind":"Predictor","name":"test-summary-isvc","namespace":"isvc_modelmesh-serving","error":"failed to SetVModel for InferenceService test-summary-isvc: rpc error: code = DeadlineExceeded desc = context

[2022-10-20 19:42] anishasthana opened #263 "Allow users to enable authentication for rest proxy"
We currently allow users to enable a rest proxy for models -- it would be neat if we support authentication via something like oauth proxy so that access to models can be restricted if desired.

We've prototyped out a solution in ODH that adds an oauth proxy container, but the implementation currently is a little hacky and relies on annotations. Ideally we could add a flag under https://github.com

[2022-10-21 17:16] anishasthana opened #264 "Allow users to configure serving runtimes on a namespace basis."
Currently, https://github.com/kserve/modelmesh-serving/tree/main/docs/configuration operates on a global level. Ideally we'd allow users to create these configs at a namespace level at the highest precedence. So, the order of priority of configs would be:

modelmesh Defaults < global configmap < namespace configmap

[2022-10-21 17:16] anishasthana commented on #264
This is somewhat related to #263

[2022-10-21 19:00] bherta commented on #213
@njhill I'd like to propose the following status for ServingRuntimes:

[code]

This status is a blend of information related to the `ServingRuntime` spec, the associated deployment, and the status format of the `InferenceService`.

`replicas` & `availableReplicas`: These values are taken from the associated Deployment status field of the same names, if there are any `InferenceService` instances ru

[2022-10-25 01:29] meijies opened #268 "How to specify the signature_name when predict to tensorflow model."
`V2 Inference Protocol` there is no signature name field to support this. Kserve has [tf2openapi](https://github.com/kserve/kserve/tree/master/tools/tf2openapi), but it isn't v2 inference protocol inferface.

[2022-10-25 05:03] meijies commented on #268
move to disussion.

[2022-10-25 05:03] #268 closed

[2022-10-26 02:25] #261 closed

[2022-10-26 15:12] njhill commented on #264
I'll just note that serving runtime specific configuration should mostly be reflected in the ServingRuntime CRD itself. What we are talking about here is more cross-cutting configuration that applies to all runtimes or is orthogonal.

Probably this wouldn't be applicable to every one of the current "global" config parameters, but would make sense for a subset.

[2022-10-27 05:16] meijies opened #269 "send predict request to triton tensorflow2, but meet data type not expect error."
I send a predict request to model mesh, but meet data type not expect error.

version: 0.9
os: macos

the request data for imput image tensor as blew
[code]
saved_model shape information.
[code]

schema.json
[code]

# error log
![image](https://user-images.githubusercontent.com/13784260/198197099-d9463d88-ae40-44ff-88b2-4e86620a9074.png)

[2022-10-27 14:28] njhill commented on #269
@meijies it looks like you're sending the request as gRPC not REST, is that correct?

If so this problem shouldn't have anything to do with modelmesh, it's more how Triton is interpreting the input. You could try:
- Loading the model in a standalone Triton container and sending it the same gRPC request
- Updating to use the latest version of Triton
- Open a similar issue in their github repo if yo

[2022-10-28 14:16] meijies commented on #269
@njhill  thank you , I find the shape of input tensors should be (-1, 1), because batch requests are supported by default.

[2022-10-28 14:16] #269 closed

[2022-10-31 16:40] lizzzcai opened #273 "tls key and cert for etcd should be copied to user namespace along with etcd config"
**Is your feature request related to a problem? If so, please describe.**

When tls is enabled for etcd, user need to provide the following `model-serving-etcd`.
[code]
where `etcd_connection` contains:
[code]

However, the `model-serving-etcd` in user namespace `only` contains `etcd_connection`, [ref](https://github.com/kserve/modelmesh-serving/blob/main/controllers/servingruntime_controller.go#L

[2022-11-01 23:30] njhill commented on #273
Thanks @lizzzcai, I think I recall this coming up before, I agree this should be fixed. The low-hanging fix would be to make sure the entire secret is copied, we can do that first.

And we can look at better syncing (with watch) if that's not currently done.

I'm not sure about decomposing the parameters into individual key-values, keeping those in sync might be a bit fragile.

I do have some work

[2022-11-03 18:53] MLHafizur opened #274 "gRPC error in higher payload size !!!"
I am getting predictions with a few (small size) payloads using gRPC call. But we need to make predictions with a large size payload ( Around 500MB to few GBs). We served the model on MLServer Custom Runtime. When we are trying to make the call getting the following error:

[code]

Any suggenstions to make it work?

[2022-11-03 21:06] #224 closed

[2022-11-06 16:57] MLHafizur opened #275 "Higher payload size not working as described in doc"
I have deployed a model using custom MLServer runtime. The gRPC inferencing is working as expected with small size payload.

I modified the configurations to make it works with large payload size:

1.  In the runtime configuration:
[code]

as well as:
2, In the global configmap:

`grpcMaxMessageSizeBytes: 300000000`

But still is giving error and showing the default exceed limits:

[code]

Client

[2022-11-06 17:51] lizzzcai commented on #274
Hi @MLHafizur , can you try to run your mlserver custom runtime locally and see if the error is coming from the mlserver or from the modelmesh.

if the error is coming from mlserver, you can play around this [parameter](https://mlserver.readthedocs.io/en/latest/reference/settings.html#mlserver.settings.Settings.grpc_max_message_length).

If the mlserver is running fine locally with your payload, t

[2022-11-07 19:14] MLHafizur commented on #275
@njhill  Based on the stacktrace, the error is  a Java one, which suggests it's coming from the KServe stack. Any help, please?

[2022-11-07 22:26] MLHafizur commented on #275
Hello @njhill here is the container logs, Seems like it is still 16Mb :(:

`{"instant":{"epochSecond":1667835721,"nanoOfSecond":163712277},"thread":"ll-svc-events-3","level":"INFO","loggerName":"com.ibm.watson.modelmesh.ModelMesh","message":"Maximum grpc request message size set to 16777216 bytes","endOfBatch":false,"loggerFqcn":"org.apache.logging.log4j.spi.AbstractLogger","contextMap":{},"thread

[2022-11-08 00:00] njhill commented on #275
@MLHafizur could you share your ConfigMap contents i.e. `kubectl get configmap model-serving-config -oyaml`

[2022-11-08 00:12] MLHafizur commented on #275
@njhill Here it is:

[code]

[2022-11-08 00:18] njhill commented on #275
@MLHafizur that is `model-serving-config-defaults`, it's not intended to be changed. You should create a new configmap called `model-serving-config` with a key `config.yaml` containing yaml with any parameters that you want to set/override, as described in the docs [here](https://github.com/kserve/modelmesh-serving/tree/main/docs/configuration#configuration). It should then be picked up automatica

[2022-11-08 00:20] MLHafizur commented on #275
Oh I see, Thanks a lot. Only `grpcMaxMessageSizeBytes` should be enough to overwrite the values everywhere needed?

[2022-11-08 01:26] MLHafizur commented on #275
@njhill  Thanks for your support. It is working as expected now.

[2022-11-08 13:23] #274 closed

[2022-11-08 13:23] #275 closed

[2022-11-09 20:01] gaodan-fang commented on #213
Hi @njhill

IIRC, InferenceService failure will not lead to ServingRuntime's deployment failure (SR's deployment status won't reflect the status of IS). IS represents models need to be loaded into Serving Runtimes. One SR's deployment could have multiple InferenceServices, some of them could be loaded correctly, some of them may be not due to those and these errors, in such case, the SR's deployme

[2022-11-11 14:34] MLHafizur opened #278 "GPU use in custom MLServer runtime"
I have deployed the PyTorch model using custom MLServer runtime on the CPU and making gRPC inference requests. As our payload is vast, we need to speed up the inferencing process, so we are looking forward to using GPU. Can you please suggest the most efficient ways to use GPU on ModelMesh for custom MLServer runtime? Is there any document or resource available to know how to use GPU on ModelMesh?

[2022-11-11 17:08] DaoDaoNoCode opened #279 "InferenceService status is not updated correctly"
**Describe the bug**

If I have some InferenceService resource running on a ServingRuntime, and I delete the ServingRuntime, the status of the InferenceService is still `Ready`

Check the pod log:
[code]

The `available` is still `true`

**To Reproduce**
Steps to reproduce the behavior:

1. Create a ServingRuntime
2. Create an InferenceService running on the server
3. Delete ServingRuntime
4. Chec

[2022-11-11 19:39] bherta commented on #213
Agreed on having the name of the deployment available in the status information.  This same situation occurs with Deployments containing the name of their associated Replicaset.  In that case, the name of the replicaset is identified in the message field of the deployment.  For example: `message: ReplicaSet "modelmesh-serving-kserve-mm-intent-5847c4c489" has successfully progressed.` (see a larger

[2022-11-11 23:46] lizzzcai commented on #278
Hi @MLHafizur , I haven't started any testing on GPU node yet, will be happy to see some benchmark results as well.

I think if your cluster has GPU nodes, you should be able to use the GPU resources in your [servingruntime](https://github.com/kserve/modelmesh-serving/blob/main/config/samples/servingruntime_custom.yaml#L30) like [this](https://github.com/kserve/kserve/blob/master/docs/samples/v1be

[2022-11-12 00:00] lizzzcai commented on #204
This is the issue we are facing as well when trying to deploy modelmesh in production. The current workaround is to copy the tls secret to controller namespace and user namespace and use istio  to originate the TLS connections. Would like to see this is supported to reduce the complexity.

[2022-11-12 00:02] lizzzcai commented on #273
Thanks @njhill .

This can help but usually we are using cert-manager to manage the secret, so the idea in #204 probably will be a better option.

[2022-11-12 00:07] #262 closed

[2022-11-12 00:19] lizzzcai commented on #249
Hi @njhill , I think this is probably something very far away. Is there a plan to support Redis or other NoSQL storage as another backend for Modelmesh?

So far I still see some challenges to manage own etcd cluster especially when you have to make it HA and backup the data regularly. It will be good to have a data backend that can use public cloud services directly.

For etcd, I couldn't find any

[2022-11-12 00:20] #214 closed

[2022-11-12 00:22] njhill opened #280 "Add FVT for TorchServe runtime"
Support for TorchServe has been added in https://github.com/kserve/modelmesh-serving/pull/250 and https://github.com/kserve/modelmesh-runtime-adapter/pull/34, but we should also add a test for this in our CI.

Related to https://github.com/kserve/modelmesh-runtime-adapter/pull/34

[2022-11-12 00:39] njhill commented on #204
I started to work on this, not sure when I'll have a chance to finish but will aim to push a WIP branch at least.

[2022-11-12 01:17] njhill commented on #204
@lizzzcai FYI I have pushed my in-progress work on this here: https://github.com/kserve/modelmesh-serving/tree/separate-etcd-cert

[2022-11-12 01:34] njhill commented on #249
@lizzzcai you are not the first person to ask this :) I think you already saw the discussion in #93.

I am dubious about whether Redis would work due to its lack of consistency and features like range watches.

The core of model-mesh (the Java sidecar) actually also supports Zookeeper as an alternative. It would probably not be too much work to add support to the controller too, but I'm not sure t

[2022-11-12 02:01] njhill commented on #279
@DaoDaoNoCode this sounds like a plausible bug. Need to think some more about the best way to address it.

[2022-11-12 11:05] lizzzcai commented on #213
I agree with @gaodan-fang and @bherta on some of the points and the status format.

servingruntime can be running fine but the inference service (isvc) may fail to load due to different reasons. However, I think the servingruntime doesn't need to care about the status of the `isvc` running on top of it (maybe can add the count of healthy `isvc` etc). For isvc, maybe can show the status of the serv

[2022-11-14 09:34] Agarwal-Saurabh opened #281 "modemesh metrics is not getting exported"
modemesh metrics is not getting exported

<img width="1184" alt="image" src="https://user-images.githubusercontent.com/23380740/201721464-1565dc4c-c2ee-438c-88ae-965335f3ba92.png">

`{"instant":{"epochSecond":1668423238,"nanoOfSecond":750799948},"thread":"prom-http-thread-0","level":"ERROR","loggerName":"com.ibm.watson.prometheus.NettyServer","message":"Prometheus HTTP(S) server processing failure

[2022-11-14 15:47] Agarwal-Saurabh commented on #281
<img width="996" alt="image" src="https://user-images.githubusercontent.com/23380740/201703648-28559714-455a-42b6-b087-d438f28a32c5.png">
also cluster IP not coming for modemesh service

[2022-11-14 16:55] tjohnson31415 commented on #281
Hello @Agarwal-Saurabh.

For the Cluster IP question:
By default, modelmesh component exposes a [headless Kube service](https://kubernetes.io/docs/concepts/services-networking/service/#headless-services) to support client-side gRPC load balancing. This improves load distribution and throughput, so it is recommended to use it in this configuration. You can have your install use a non-headless servi

[2022-11-14 17:03] Agarwal-Saurabh commented on #281
hello @tjohnson31415
<img width="1184" alt="image" src="https://user-images.githubusercontent.com/23380740/201721331-4a6a8191-55e3-4a2a-b9a7-744c7862f9ec.png">
here is the port-forwarding method. I posted a wrong screenshot earlier

[2022-11-15 01:09] lizzzcai commented on #249
Hi @njhill , thanks for your reply.

I see, it seems that the `range watches` is not a common feature in other databases. Whether a pull-based model can replace it here?

From user perspective, I will expect it is something that can easily get from a cloud provider, which will help to reduce a lot of maintenance effort.

I will probably give it a try and see if can work with ModelMesh.

I think th

[2022-11-15 17:22] #63 closed

[2022-11-16 03:53] xvnyv opened #283 "Create isolation between serving runtimes"
**Is your feature request related to a problem? If so, please describe.**

In my team’s use case, we are currently using the [KServe V2 Inference Protocol REST API](https://kserve.github.io/website/modelserving/inference_api/#inference-request-examples) for sending inference requests. On top of this protocol, we also make use of multiple virtual services to direct traffic to the `modelmesh-serving

[2022-11-16 23:56] njhill opened #284 "Payload logging/events"
For various reasons including monitoring by external system for things like drift / outlier detection etc.

It should support CloudEvents and be compatible with the logger in KServe "classic", so that it can be used in a similar way, as illustrated in these samples:
- https://github.com/kserve/kserve/tree/master/docs/samples/logger/basic
- https://github.com/kserve/kserve/tree/master/docs/samples/

[2022-11-17 01:00] njhill commented on #213
Thanks @bherta @gaodan-fang @lizzzcai

We don't actually use validation hooks currently since there is extra complication in configuring/securing the webhook endpoint, so nothing would prevent the CR from being created. But maybe that's something to look at since I think they are used in the main KServe controller. But yes probably reasonable to not worry about them in the status.

I'm not so sure

[2022-11-17 01:25] lizzzcai commented on #283
Hi @njhill, can you help to check this issue? @xvnyv is my colleague and we are gathering the issues we faced during the ModelMesh integration and feedback to the community, and see if there are any solutions or proposals for them.

I think the quick solution for this it to have the option to get model_id from `mm-vmodel-id` header only (so we can inject the `mm-vmodel-id` on the gateway level). T

[2022-11-17 01:42] lizzzcai commented on #284
Hi @njhill , what is the definition of payload logging here, does it include the logs in the runtime level? If not, is it possible to support it like adding a model_id identifier in the log line so that we can filter it per inferenceSerivce.

Currently we plan to expose the logs (runtime logs) on the servingRuntime level (actual deployment) as the inferenceService (model) is kind of a logical conc

[2022-11-17 03:00] lizzzcai commented on #213
In the single-model use case, user mainly uses storage-initializer (init-container) to download the model. If the error is in the model pulling stage, the pod will fail in the init container stage. user is able to check the error in the inferenceService status, logs from init container or k8s events. After that, the main container will start (check pod status if there are image pulling errors) and

[2022-11-21 17:54] tjohnson31415 commented on #281
@Agarwal-Saurabh Were you able to get this working with the information above?

[2022-11-22 04:36] Agarwal-Saurabh commented on #281
Yes thanks a lot !!

On Mon, 14 Nov 2022, 11:04 pm Travis Johnson, ***@***.***>
wrote:

[2022-11-22 16:49] #281 closed

[2022-11-23 14:44] lizzzcai commented on #249
Hi @njhill , a quick update on this. I have tried to deploy modelmesh with the kine endpoint(MySQL as backend), unfortunately, it is not working as some of the etcd API is not supported (mainly support [Txn](https://github.com/k3s-io/kine/issues/125#issuecomment-1171736092), [put](https://github.com/k3s-io/kine/blob/27bd5e740946e0f1e9faeb83d594fb854180a1d4/pkg/server/kv.go#L100-L102), [delete](htt

[2022-11-29 16:30] meijies opened #318 "build a model runtime simulator to help measure elastic scaling efficiency with little system resource."
# measure elastic scaling efficiency
A set of composite metrics including QPS(query per second), Error, ART(average response time) and so on. So we can determine the new optimization is valid or not.

# runtime simulator
the runtime load the yaml  file as model. this yaml file declare the resource that model should consume. blew is a example of yaml file.
[code]